.gameRealty {
  display: flex;
  width: 100%;
  height: inherit;
  background: url("../img/banners/banner-realty.jpg") center no-repeat;
  background-size: cover;
  color: #fff;
  font-family: "Fira Mono", sans-serif;
}
.gameRealtyContent {
  padding: 20px;
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  z-index: 10;
}
.gameRealtyContent__block {
  padding: 20px 30px;
  background: rgba(25, 58, 86, 0.8);
  width: 700px;
  border: 2px solid #fff;
}
.gameRealtyContent__blockInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gameRealtyContent__blockInfo__price {
  font-weight: 700;
  font-size: 18px;
}
.gameRealtyContent__blockInfo__priceItem {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 30px;
       column-gap: 30px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 2px solid #fff;
}
.gameRealtyContent__blockInfo__priceItem:last-child {
  border-bottom: none;
}
.gameRealtyContent__blockImg {
  max-width: 300px;
}
.gameRealtyContent__blockImg img {
  width: 100%;
}
.gameRealtyContent__realty {
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 700px;
  background: rgba(32, 68, 98, 0.7);
}
.gameRealtyContent__realtyItem {
  max-height: 380px;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}
.gameRealtyContent__realtyItem:last-child {
  border-right: none;
}
.gameRealtyContent__realtyItem__income {
  padding-bottom: 5px;
  margin-bottom: 5px;
  display: inline-block;
  border-bottom: 1px solid #fff;
}
.gameRealtyContent__realtyItem__title {
  margin-bottom: 10px;
  text-align: center;
  padding-bottom: 15px;
}
.gameRealtyContent__realtyItem__img {
  margin: 0 auto 12px;
  text-align: center;
  max-width: 320px;
  padding-bottom: 12px;
  border-bottom: 1px solid #fff;
}
.gameRealtyContent__realtyItem__img img {
  width: 100%;
}
.gameRealtyContent__realtyItems {
  padding: 30px;
  display: flex;
  justify-content: center;
  max-height: 420px;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.gameRealtyContent__realtyTitle {
  margin: 0 auto 30px;
  padding-bottom: 10px;
  width: 40%;
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid #fff;
}

@media screen and (max-width: 768px) {
  .gameRealtyContent__realty, .gameRealtyContent__block {
    width: inherit;
  }
  .gameRealtyContent__realtyTitle, .gameRealtyContent__blockTitle {
    padding-bottom: 5px;
    margin: 0 auto 15px;
    width: 70%;
    font-size: 18px;
  }
  .gameRealtyContent__realtyInfo, .gameRealtyContent__blockInfo {
    flex-direction: column-reverse;
    row-gap: 10px;
  }
}
@media screen and (max-width: 480px) {
  .gameRealtyContent__realtyItem {
    text-align: center;
    font-size: 14px;
  }
  .gameRealtyContent__blockTitle {
    margin: 0 auto 10px;
    font-size: 16px;
  }
  .gameRealtyContent__blockInfo__price {
    font-size: 14px;
  }
}/*# sourceMappingURL=GamePageRealty.css.map */