.game
  &Work
    width: 100%
    position: relative
    display: flex
    flex-direction: column
    justify-content: space-between
    height: calc(100vh - 55px)
    background: url('../img/banner-work.jpg') no-repeat
    background-size: cover
    z-index: 0
    font-family: 'Fira Mono', sans-serif
    &Content
      padding: 30px
      background: rgba(244, 212, 189, 0.6)
      z-index: 10
      display: flex
      justify-content: center
      flex-wrap: wrap
      height: inherit
      column-gap: 50px
      row-gap: 50px
      &__block
        text-align: center
        margin-bottom: 7px
        padding: 7px
        display: flex
        justify-content: space-between
        border-bottom: 1px solid grey
        font-size: 22px
        &Title
          font-weight: 700
        &s
          padding: 25px
          background: rgb(234, 210, 172)
          width: calc(45% - 50px)
          &Title
            margin-bottom: 25px
            padding: 10px 30px
            text-transform: uppercase
            font-weight: 900
            font-size: 22px
            color: #fff
            background: rgba(115, 193, 103, 0.9)

.gameWorkContent__incomes
  .gameWorkContent__block
    &:last-child
      font-size: 26px
      margin-top: 20px
      border-bottom: none
