.game
  &Work
    width: 100%
    height: 100%
    position: relative
    display: flex
    flex-direction: column
    justify-content: space-between
    background: url('../img/banner-work.jpg') no-repeat
    background-size: cover
    font-family: 'Fira Mono', sans-serif
    &Content
      padding: 30px
      height: inherit
      background: rgba(244, 212, 189, 0.6)
      z-index: 10
      &__profile
        grid-area: profile
        display: flex
        align-items: center
        flex-direction: column
        &Child
          display: flex
          div
            height: 200px
            img
              height: 100%
        &Img
          padding-bottom: 30px
          margin-bottom: 30px
          height: 550px
          border-bottom: 2px dashed #fff
          img
            height: 100%
      &__incomes
        grid-area: incomes
        width: 90% !important
      &__work
        grid-area: works
        width: 90% !important
      .container
        display: grid
        align-items: flex-end
        grid-template-columns: 1fr 1fr
        grid-template-areas: 'profile incomes ' 'profile works'
        row-gap: 20px
        column-gap: 20px
      &__block
        text-align: center
        margin-bottom: 7px
        padding: 7px
        display: flex
        justify-content: space-between
        border-bottom: 1px solid grey
        font-size: 22px
        &Title
          font-weight: 700
        &s
          padding: 25px
          background: rgb(234, 210, 172)
          width: calc(45% - 50px)
          &Title
            margin-bottom: 25px
            padding: 10px 30px
            text-transform: uppercase
            font-weight: 900
            font-size: 22px
            color: #fff
            background: rgba(115, 193, 103, 0.9)

.gameWorkContent__incomes
  .gameWorkContent__block
    &:last-child
      font-size: 26px
      margin-top: 20px
      border-bottom: none

@media screen and (max-width: 1200px)
  .gameWork
    &Content
      &__profile
        &Img
          padding-bottom: 15px
          margin-bottom: 15px
          height: 450px
        &Child
          div
            height: 180px
      &__block
        font-size: 18px
        &s
          width: 100% !important
          padding: 15px
          &Title
            margin-bottom: 20px
            padding: 5px 15px

@media screen and (max-width: 1024px)
  .gameWork
    &Content
      padding: 20px 0
      .container
        grid-template-columns: 1fr 2fr
      &__block
        padding: 5px
        margin-bottom: 5px
        font-size: 16px
        &s
          padding: 10px
          &Title
            margin-bottom: 15px
            padding: 3px 10px

@media screen and (max-width: 768px)
  .gameWork
    //height: auto
    &Content
      &__profile
        &Img
          display: none
        &Child
          div
            height: 150px
      .container
        grid-template-areas: 'incomes' 'works' 'profile'
        grid-template-columns: 1fr

@media screen and (max-width: 480px)
  .gameWork
    &Content
      overflow: scroll
      padding: 20px 0 70px