.gameBank
  padding: 0 20px
  display: flex
  justify-content: center
  align-items: center
  height: calc(100vh - 55px)
  background: url('../img/banner-bank.jpg') center no-repeat
  background-size: cover
  z-index: 3
  font-family: 'Fira Mono', sans-serif
  &Content
    display: flex
    justify-content: center
    width: 100%
    column-gap: 50px
    flex-wrap: wrap
    row-gap: 50px
    z-index: 10
    &__liabilities, &__credit, &__payout
      background: rgba(249, 235, 217, 0.9)
      width: 40%
    &__Menu
      padding: 30px
      display: flex
      align-items: center
      justify-content: space-around
      &Pay
        display: flex
        flex-direction: column
        align-items: center
        &__Price
          margin-bottom: 10px
          padding-bottom: 10px
          border-bottom: 1px solid grey
        &__Input
          width: 100%
          input
            width: 50%
    &__Title
      padding: 15px
      font-weight: 900
      font-size: 28px
      color: #fff
      background: rgb(67, 144, 147)
    &__Form
      margin-top: 10px
      display: flex
      flex-direction: column
      align-items: center
      justify-content: space-between
      font-size: 18px
      &Payload
        padding-bottom: 10px
        margin-bottom: 10px
        display: flex
        justify-content: space-between
        &:first-child
          border-bottom: 1px solid grey
        &s
          margin-top: 10px
          width: 80%
      &Input
        margin-top: 10px
        width: 30%
    &__Button
      margin-bottom: 40px
      text-align: center
    &__Block
      padding-bottom: 15px
      display: flex
      justify-content: space-between
      align-items: center
      border-bottom: 1px solid #999999
      &s
        padding: 30px
        display: flex
        flex-direction: column
        row-gap: 15px
        font-size: 20px
        font-weight: 500

.warning
  padding: 40px
  font-size: 16px
  text-align: center