.game
  &News
    position: relative
    height: inherit
    background: url('../img/banner-news.jpg') center no-repeat
    background-size: cover
    z-index: 0
    display: flex
    flex-direction: column
    row-gap: 30px
    font-family: 'Fira Mono', sans-serif
    &::after
      content: ''
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background: rgba(0,0,0,0.7)
    &Menu
      margin-top: 50px
      display: flex
      justify-content: flex-end
      column-gap: 30px
    &Content
      height: inherit
      z-index: 10
      overflow: auto
      &__Tabs
        .ant-tabs-nav
          position: fixed
          width: calc(100% * 2/3.2)
          background: #282c34
          color: #fff
    &Block
      padding: 20px
      width: 50%
      background: rgba(243, 243, 243, 0.9)
      z-index: 10
      &__Title
        padding: 10px
        margin-bottom: 10px
        font-size: 24px
        background: rgb(67, 144, 147)
        z-index: 10
        color: #fff
      &__News
        padding-top: 10px
        padding-bottom: 10px
        &Title, &Price
          font-size: 18px
          color: #414141
          font-weight: 700
        &PriceBold
          font-weight: 900
          margin-left: 10px
          color: #000
        &Company
          margin: 10px auto
          padding: 10px
          text-align: center
          width: 50%
          background: #3e6787
          color: #fff
          font-weight: 700
        &Button
          text-align: center
          button
            background: #3e6787
            color: #fff
            font-weight: 900
      &__Footer
        margin-top: 10px
        padding-top: 10px
        display: flex
        column-gap: 5px
        align-items: center
        justify-content: flex-start
        border-top: 1px solid grey
        &Button
          border: none
          background: none
          width: 36px
          height: 36px
          font-size: 24px
          color: green
          &:hover
            color: #19a204
            font-size: 26px
      &s
        margin-top: 30px
        padding: 50px
        display: flex
        flex-direction: column
        align-items: center
        row-gap: 50px
        overflow: auto
        z-index: 10
        &__reverse
          flex-direction: column-reverse

@media screen and (max-width: 1200px)
  .gameNews
    &Block
      padding: 15px
      width: 70%

@media screen and (max-width: 1024px)
  .gameNews
    &Block
      padding: 10px
      width: 80%

@media screen and (max-width: 768px)
  .gameNews
    &Menu
      margin-top: 20px
      column-gap: 10px
    &Block
      width: 85%
      &__Title
        margin-bottom: 5px
        padding: 5px
        font-size: 18px
      &__News
        &Company
          margin: 5px auto
          padding: 5px
          width: 70%
          font-size: 14px
        &Title
          font-size: 14px
        &Price
          font-size: 14px
      &__Footer
        margin-top: 5px
        padding-top: 5px
        &Button
          width: 30px
          height: 30px
          font-size: 18px
        &Text
          font-size: 14px
      &s
        padding: 20px
        row-gap: 20px

@media screen and (max-width: 480px)
  .gameNews
    &Block
      width: 100%
      &__Title
        margin-bottom: 3px
        padding: 3px
        font-size: 14px
      &__News
        &Company
          width: 80%
          font-size: 12px
        &Title
          font-size: 10px
        &Price
          font-size: 10px
      &__Footer
        margin-top: 3px
        padding-top: 3px
        &Button
          width: 20px
          height: 20px
          font-size: 14px
        &Text
          font-size: 10px
      &s
        padding: 10px
        row-gap: 10px