.gameBank {
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 55px);
  background: url("../img/banners/banner-bank.jpg") center no-repeat;
  background-size: cover;
  z-index: 3;
  font-family: "Fira Mono", sans-serif;
}
.gameBankContent {
  display: flex;
  justify-content: center;
  width: 100%;
  height: inherit;
  -moz-column-gap: 50px;
       column-gap: 50px;
  flex-wrap: wrap;
  row-gap: 50px;
  z-index: 10;
}
.gameBankContent .container {
  width: inherit;
}
.gameBankContent__liabilities, .gameBankContent__credit, .gameBankContent__payout, .gameBankContent__deposit {
  background: rgba(249, 235, 217, 0.9);
  width: 40%;
}
.gameBankContent__Menu {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.gameBankContent__MenuPay {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gameBankContent__MenuPay__Price {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
}
.gameBankContent__MenuPay__Input {
  width: 100%;
}
.gameBankContent__MenuPay__Input input {
  width: 50%;
}
.gameBankContent__Title {
  padding: 15px;
  font-weight: 900;
  font-size: 28px;
  color: #fff;
  background: rgb(67, 144, 147);
}
.gameBankContent__Form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
}
.gameBankContent__FormPayload {
  padding-bottom: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.gameBankContent__FormPayload:first-child {
  border-bottom: 1px solid grey;
}
.gameBankContent__FormPayloads {
  margin-top: 10px;
  width: 80%;
}
.gameBankContent__FormInput {
  margin-top: 10px;
  width: 30%;
}
.gameBankContent__Button {
  margin-bottom: 40px;
  text-align: center;
}
.gameBankContent__Block {
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #999999;
}
.gameBankContent__Blocks {
  padding: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  font-size: 20px;
  font-weight: 500;
}

.warning {
  padding: 40px;
  font-size: 16px;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .gameBankContent {
    -moz-column-gap: 35px;
         column-gap: 35px;
    row-gap: 35px;
  }
  .gameBankContent__liabilities, .gameBankContent__credit, .gameBankContent__payout, .gameBankContent__deposit {
    width: 46%;
  }
}
@media screen and (max-width: 1024px) {
  .gameBank {
    padding: 30px;
  }
  .gameBankContent {
    -moz-column-gap: 20px;
         column-gap: 20px;
    row-gap: 20px;
  }
  .gameBankContent__Blocks {
    padding: 15px;
    row-gap: 10px;
    font-size: 18px;
  }
  .gameBankContent__Title {
    padding: 10px;
    font-size: 24px;
  }
  .gameBankContent__Menu {
    padding: 15px;
  }
  .gameBankContent__liabilities, .gameBankContent__credit, .gameBankContent__payout, .gameBankContent__deposit {
    width: 70%;
  }
  .warning {
    padding: 15px;
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .gameBank {
    padding-bottom: 50px;
  }
  .gameBankContent__Form {
    margin-top: 5px;
    font-size: 14px;
  }
  .gameBankContent__FormPayload {
    padding-bottom: 5px;
    margin-bottom: 5px;
  }
  .gameBankContent__Button {
    margin-bottom: 20px;
  }
  .gameBankContent__Button button {
    padding: 5px 10px;
    font-size: 14px;
  }
  .gameBankContent__Menu {
    padding: 10px;
  }
  .gameBankContent__MenuPay__Price {
    margin-bottom: 5px;
    padding-bottom: 5px;
    font-size: 14px;
  }
  .gameBankContent__MenuPay__Input {
    width: 80%;
  }
  .gameBankContent__MenuSelect {
    width: 80%;
  }
  .gameBankContent__Block {
    padding-bottom: 5px;
  }
  .gameBankContent__Blocks {
    font-size: 14px;
  }
  .gameBankContent__Title {
    padding: 5px;
    font-size: 18px;
  }
  .gameBankContent__liabilities, .gameBankContent__credit, .gameBankContent__payout, .gameBankContent__deposit {
    width: 90%;
  }
}/*# sourceMappingURL=GamePageBank.css.map */