.game
  &Spend
    display: flex
    position: relative
    align-items: center
    justify-content: center
    height: calc(100vh - 55px)
    width: 100%
    background: url('../img/banner-spends.jpg') center no-repeat
    background-size: cover
    z-index: 0
    font-family: 'Fira Mono', sans-serif
    // кнопка для открытия истории
    &Button
      position: absolute
      left: 50%
      bottom: 100px
      transform: translateX(-50%)
      z-index: 10
      font-size: 24px
      height: auto

    &Block
      padding: 20px
      background: rgba(234, 210, 172, 1)
      width: 500px
      min-height: 400px
      z-index: 10
      &__Main
        display: flex
        justify-content: center
        align-items: center
        width: 100%
        height: inherit
        background: rgba(244, 212, 189, 0.6)
        z-index: 10
      &__Title
        padding: 7px 15px
        font-size: 28px
        font-weight: 900
        color: #fff
        background: rgba(115, 193, 103, 0.9)
      &__Footer
        padding: 7px 15px
        display: flex
        justify-content: space-between
        font-size: 28px
        border-top: 1px solid #282c34
        color: #000
        &Title
          font-weight: 500
        &Price
          font-weight: 900
      &__Item
        margin-bottom: 10px
        padding-bottom: 10px
        display: flex
        align-items: center
        justify-content: space-between
        font-size: 22px
        border-bottom: 1px solid grey
        &:last-child
          border-bottom: none
          margin-bottom: 0
          padding-bottom: 0
        &Title
          font-weight: 700
        &Price
          font-weight: 300
        &s
          padding: 20px
          display: flex
          flex-direction: column
          justify-content: center
          min-height: 200px
          overflow: auto
          //border-bottom: 1px solid #999999
      &s
        margin-top: 75px
        display: flex
        flex-wrap: wrap
        justify-content: center
        overflow: auto
        row-gap: 10px
        column-gap: 10px