.game
  &Spend
    display: flex
    position: relative
    align-items: center
    justify-content: center
    height: inherit
    width: 100%
    background: url('../img/banners/banner-spends.jpg') center no-repeat
    background-size: cover
    z-index: 0
    font-family: 'Fira Mono', sans-serif
    &Content
      padding: 20px
      width: 100%
      height: inherit
      z-index: 10
      background: rgba(244, 212, 189, 0.6)
      .container
        display: flex
        flex-wrap: wrap
        column-gap: 30px
        row-gap: 30px
        justify-content: center
      &__Title
        padding: 7px 15px
        font-size: 28px
        font-weight: 900
        color: #fff
        background: rgba(115, 193, 103, 0.9)
      &__Footer
        padding: 7px 15px
        display: flex
        justify-content: space-between
        font-size: 28px
        border-top: 1px solid #282c34
        color: #000
        &Title
          font-weight: 500
        &Price
          font-weight: 900
      &__Item
        margin-bottom: 10px
        padding-bottom: 10px
        display: flex
        align-items: center
        justify-content: space-between
        font-size: 22px
        border-bottom: 1px solid grey
        &:last-child
          border-bottom: none
          margin-bottom: 0
          padding-bottom: 0
        &Title
          font-weight: 700
        &Price
          font-weight: 300
        &s
          padding: 20px
          display: flex
          flex-direction: column
          justify-content: center
          min-height: 200px
          overflow: auto
          //border-bottom: 1px solid #999999
      &s
        margin-top: 75px
        display: flex
        flex-wrap: wrap
        justify-content: center
        overflow: auto
        row-gap: 10px
        column-gap: 10px

@media screen and (max-width: 1200px)
  .gameSpend
    &Content
      &__Footer
        padding: 5px 10px
        font-size: 22px
      &__Item
        margin-bottom: 5px
        padding-bottom: 5px
        font-size: 18px
        &s
          padding: 15px

      &__Title
        padding: 5px 15px
        font-size: 22px
      .container
        column-gap: 10px
        row-gap: 10px

@media screen and (max-width: 1024px)
  .gameSpend
    &Content
      &__Item
        font-size: 16px

@media screen and (max-width: 768px)
  .gameSpend
    //height: auto
    &Content
      //height: auto
      overflow: scroll
      padding: 20px 0 70px


@media screen and (max-width: 480px)
  .gameSpend
    &Content
      &__Title
        text-align: center
        font-size: 16px
      &__Items
        padding: 7px
      &__Footer
        font-size: 16px
