.nav
  &Wrapper
    display: flex
    align-items: center
    justify-content: space-between
    background: #673c74
    font-family: 'Fira Mono', sans-serif
    font-size: 20px
    font-weight: 700
    color: #fff
  &Item
    display: flex
    justify-content: center
    height: 100%
    width: 33%
    align-items: center
    column-gap: 15px
    &:last-child
      justify-content: space-between
      height: 78px
    &:first-child
      justify-content: flex-start
    &Profile
      padding: 10px
      display: flex
      column-gap: 30px
      align-items: center
      font-weight: 900
    &Menu
      margin-left: 50px
      display: flex
      column-gap: 25px
      &__block
        border: none
        background: transparent
        color: #212121
    &Balance
      height: 100%
      display: flex
      align-items: center
      padding: 0 30px
      font-size: 36px
      background: rgba(68, 39, 76, 0.8)
    &__link
      font-size: 18px
      width: 75px
      text-transform: uppercase
      a
        color: #fff
        &:hover
          color: #29b6f6

.bottomNav
  //margin-top: -41px
  position: fixed
  width: 100%
  left: 0
  bottom: 0
  display: none
  padding: 7px
  background: rgba(255, 255, 255, 1)
  justify-content: center
  column-gap: 15px
  z-index: 15
  &Item
    z-index: 15
    color: #fff
    button
      background: transparent
      border: none
      outline: none
      color: #fff
      img
        width: 25px
        height: 25px
    a
      color: #fff
      button
        background: transparent
        border: none
        outline: none
        color: #fff
        img
          width: 25px
          height: 25px
@media screen and (max-width: 1200px)
  .nav
    &Item
      &Menu
        margin-left: 10px
        column-gap: 15px
      &__link
        width: 60px
        font-size: 16px
      &Balance
        font-size: 28px

@media screen and (max-width: 1024px)
  .nav
    &Item
      column-gap: 10px
      &Balance
        font-size: 24px
      &Profile
        padding: 5px
        column-gap: 10px
        font-size: 16px
      width: auto
      &__link
        font-size: 14px
        width: auto
      &Menu
        margin-left: 0
        button
          font-size: 14px

@media screen and (max-width: 768px)
  .bottomNav
    display: flex
  .nav
    &Item
      &:last-child
        height: 50px
      &Profile
        div
          width: 40px
          height: 40px
          div
            width: 40px !important
            height: 40px !important
      &Balance
        padding: 0 10px
        font-size: 18px
      &__link
        display: none
  .ant-menu
    text-align: center
    p
      margin-bottom: 20px

@media screen and (max-width: 480px)
  .ant-modal
    width: 80% !important
  .nav
    &Item
      &Menu
        column-gap: 5px
      &Balance
        font-size: 14px
      &Profile
        font-size: 14px
        div
          width: 30px
          height: 30px
          div
            width: 30px !important
            height: 30px !important



