.profile
  width: 100vw
  //height: 100vh
  background: url("../img/banner-settings.jpg") center no-repeat
  background-size: cover
  display: grid
  grid-template-columns: 3fr 2fr
  grid-template-areas: 'menu menu' 'preview settings'
  font-family: 'Fira Mono', sans-serif
  z-index: 10
  &Menu
    background: rgba(0, 0, 0, 0.6)
    z-index: 10
    grid-area: menu
    &Title
      text-align: center
    &List
      text-align: center
      //display: flex
      //justify-content: center

      &__item
        &Img
          background: transparent
          outline: none
          border: none
        &s
          display: flex
          justify-content: center
    &__Stats
      //border-top: 2px solid #282c34
      background: #f4d4bd
      &Cash
        font-size: 18px
      font-weight: 700
      &Title
        padding: 5px
        font-weight: 900
        font-size: 24px
        background: rgba(115, 193, 103, 1)
        color: #fff
        text-transform: uppercase
      &Block
        margin: 7px
        padding: 7px
        display: flex
        justify-content: space-between
        border-bottom: 1px solid #282c34
        font-size: 18px
        font-weight: 700
        &:last-child
          border-bottom: none
    &__Settings
      padding: 30px
      background: rgba(255,255,255,0.6)
      display: flex
      flex-direction: column
      &Item
        padding-bottom: 15px
        margin-bottom: 15px
        font-weight: 900
        font-size: 20px
        border-bottom: 1px solid #282c34
    &__Button
      padding: 20px
      text-align: center
      //border-bottom: 1px solid #fff
      a
        button
          height: auto
          font-size: 28px
          font-weight: 700
  &Persons
    z-index: 10
    grid-area: persons
    &__Filter
      margin-top: 30px
      margin-bottom: 30px
      display: flex
      justify-content: center
      column-gap: 30px
    &__Title
      background: rgba(0, 0, 0, 0.6)
      font-size: 24px
      font-weight: 700
      text-align: center
      color: #fff
      padding: 15px
    &__Button
      text-align: center
      padding-top: 10px
      a
        button
          font-size: 24px
          font-weight: 700
          height: auto
    &__Block
      width: 100px
      height: 100px
      z-index: 10
      &s
        padding: 45px
        display: flex
        justify-content: center
        flex-wrap: wrap
        align-items: flex-start
        row-gap: 15px
        column-gap: 15px
      &Img
        border: none
        background: transparent
        span
          border: 2px solid #282c34
        &:hover
          cursor: pointer
  &Preview
    text-align: center
    background: rgba(0, 0, 0, 0.6)
    display: flex
    flex-direction: column
    justify-content: space-between
    height: 100vh
    z-index: 10
    grid-area: preview
    &__Name
      margin: 30px
      padding-bottom: 30px
      font-size: 30px
      color: #fff
      font-weight: 900
      border-bottom: 1px solid #fff
      &Work
        color: darkgrey
    &__Title
      padding: 15px
      font-size: 24px
      font-weight: 700
      color: rgba(255, 255, 255, 0.8)
      border-bottom: 2px solid rgba(255, 255, 255, 0.6)
      border-right: 2px solid rgba(255, 255, 255, 0.6)
      z-index: 10
    &__Img
      padding: 5px
      margin: 0 auto
      display: flex
      align-items: end
      z-index: 0
      max-height: 700px
      img
        z-index: -1
        height: 100%
  &Settings
    grid-area: settings

@media screen and (max-width: 1600px)
  .profile
    grid-template-columns: 1fr 2fr 2fr
    &Preview
      &__Img
        max-height: 600px
    &Persons
      &__Filter
        margin: 20px
      &__Block
        &s
          padding: 30px
    &Menu
      &__Stats
        &Title
          font-size: 20px
        &Block
          margin: 5px
          padding: 5px
          &__Title
            font-size: 16px
          &__Price
            font-size: 16px
      &__Settings
        padding: 20px
        &Item
          padding-bottom: 10px
          margin-bottom: 10px
          font-size: 16px
          text-align: center
          label
            width: 60%
            margin-bottom: 5px
      &__Button
        padding: 13px
        a
          button
            font-size: 20px

@media screen and (max-width: 1200px)
  .profile
    grid-template-columns: 1fr 2fr 2fr
    &Preview
      max-width: 350px
      &__Img
        max-height: 400px

@media screen and (max-width: 1024px)
  .profile
    grid-template-columns: 1fr 1fr
    grid-template-areas: 'persons menu'
    &Persons
      &__Block
        &Img
          max-width: 70px
    &Preview
      display: none !important

@media screen and (max-width: 768px)
  .profile
    padding-bottom: 30px
    grid-template-columns: 1fr
    grid-template-areas: 'persons' 'menu'
    &Persons
      &__Button
        padding-bottom: 10px
      &__Block
        width: 70px
        height: 70px
        &s
          row-gap: 10px
          column-gap: 10px
        &Img
          span
            height: 70px !important
            width: 70px !important
            img
              width: 100%
    &Preview
      display: none !important
    &Menu
      margin: 0 auto
      height: auto
      width: 60%
      &__Buttons
        display: none
      &__Settings
        &Item
          label
            width: auto

@media screen and (max-width: 480px)
  .profile
    &Persons
      &__Filter
        flex-direction: column
        align-items: center
        row-gap: 10px
        button
          width: 60%
    &Menu
      width: 90%
      &__Stats
        &Title
          font-size: 18px
        &Block
          &__Title
            font-size: 14px
          &__Price
            font-size: 14px
      &__Settings
        &Item
          label
            width: 60%



