.profile
  padding: 30px
  position: relative
  width: 100vw
  height: 100vh
  background: url("../img/banner-settings.jpg") center no-repeat
  background-size: cover
  display: grid
  grid-template-columns: 2fr 2fr
  grid-template-areas: 'menu menu' 'preview settings'
  font-family: 'Fira Mono', sans-serif
  z-index: 10
  overflow: scroll
  &Back
    position: absolute
    top: 30px
    right: 30px
    font-size: 24px
    z-index: 100
    button
      font-size: 24px
      height: auto
  &Menu
    z-index: 10
    grid-area: menu
    &Title
      text-align: center
    &List
      text-align: center
      &__item
        width: 90px
        height: 90px
        &Img
          background: transparent
          width: 100%
          outline: none
          border: none
          span
            width: 100% !important
            height: 100% !important
        &s
          display: flex
          justify-content: center
    &__Button
      padding: 20px
      text-align: center
      //border-bottom: 1px solid #fff
      a
        button
          height: auto
          font-size: 28px
          font-weight: 700
  &Preview
    padding: 30px
    background: rgba(0, 0, 0, 0.4)
    display: grid
    grid-template-columns: 2fr 3fr
    border: 1px solid white
    grid-template-areas: 'name stats' 'img stats'
    z-index: 10
    grid-area: preview
    &__Name
      grid-area: name
      font-size: 30px
      color: #fff
      font-weight: 900
      max-width: 200px
      &Work
        border-top: 1px solid white
        color: darkgrey
    &__Stats
      grid-area: stats
      display: flex
      flex-direction: column
      justify-content: center
      &Income, &Expenses, &Cash
        background: #f4d4bd
      &Income
        margin-bottom: 15px
      &Expenses
        margin-bottom: 15px
      &Cash
        font-size: 18px
      font-weight: 700
      &Title
        padding: 5px
        font-weight: 900
        font-size: 24px
        background: rgba(115, 193, 103, 1)
        color: #fff
        text-transform: uppercase
      &Block
        margin: 7px
        padding: 7px
        display: flex
        border-bottom: 1px solid #282c34
        justify-content: space-between
        font-size: 18px
        font-weight: 700
        &:last-child
          border-bottom: none
    &__Img
      grid-area: img
      padding: 5px
      //margin: 0 auto
      //z-index: 0
      max-height: 550px
      img
        z-index: -1
        height: 100%
  &Settings
    padding: 50px 75px
    display: flex
    flex-direction: column
    &__Button
      text-align: center
      z-index: 100
    &__Speed, &__Condition
      padding: 30px
      text-align: center
      margin-bottom: 30px
      background: rgba(0,0,0,0.6)
      z-index: 100
      color: #fff
      font-size: 24px
      border: 1px solid white
    &__Condition
      &About
        margin-top: 10px
        padding-top: 10px
        border-top: 1px solid white
        font-size: 16px

@media screen and (max-width: 1600px)
  .profile
    &Preview
      padding: 15px
      &__Img
        max-height: 450px

@media screen and (max-width: 1200px)
  .profile
    grid-template-columns: 1fr
    grid-template-areas: 'menu' 'preview' 'settings'
    &Menu
      &List
        &__item
          width: 70px
          height: 70px
    &Preview
      &__Stats
        &Title
          font-size: 20px
        &Block
          font-size: 14px
      &__Name
        font-size: 24px
      &__Img
        max-height: 400px
    &Settings
      &__Speed, &__Condition
        padding: 15px
        font-size: 18px
      &__ConditionAbout
        font-size: 14px

@media screen and (max-width: 1024px)
  .profile
    padding-top: 70px
    height: auto
    &Back
      top: 15px
      right: 15px
      button
        font-size: 18px

@media screen and (max-width: 768px)
  .profile
    &Menu
      &List__items
        flex-wrap: wrap
    &Preview
      grid-template-columns: 1fr
      grid-template-areas: 'name' 'stats'
      &__Img
        display: none
@media screen and (max-width: 480px)
  .profile
    padding: 60px 10px
    &Back
      right: 50%
      transform: translateX(50%)
    &Settings
      padding: 10px
      &__Speed, &__Condition
        padding: 10px 5px
        font-size: 14px
      &__ConditionAbout
        font-size: 12px
      &__Speed
        margin-bottom: 10px