@import '~antd/dist/antd.css';
.menu {
  background: url("../img/background.jpg") center no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
}
.menuContent {
  display: flex;
  justify-content: center;
  height: calc(100vh - 206px);
  flex-direction: column;
  align-items: center;
}
.menuGameName {
  padding-top: 50px;
  text-align: center;
  max-height: 206px;
  font-size: 50px;
  font-weight: 900;
  color: #fff;
}
.menuHeader {
  margin-bottom: 20px;
  font-size: 65px;
  font-weight: 700;
  color: #fff0f4;
  z-index: 1;
  font-family: "Roboto", sans-serif;
}
.menuList {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
  z-index: 1;
}
.menuListItem__Button {
  padding: 7px 12px;
  width: 320px;
  background: rgba(255, 255, 255, 0.4);
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  border: 1px solid #fff;
  border-radius: 10px;
  color: #fff;
}
.menuListItem__Button:hover {
  background: rgba(255, 255, 255, 0.65);
}

@media screen and (max-width: 1024px) {
  .menuGameName {
    font-size: 40px;
  }
  .menuHeader {
    font-size: 50px;
  }
  .menuListItem__Button {
    padding: 5px 10px;
    width: 280px;
    font-size: 24px;
  }
}
@media screen and (max-width: 768px) {
  .menuGameName {
    font-size: 32px;
  }
  .menuHeader {
    font-size: 40px;
  }
  .menuList {
    row-gap: 15px;
  }
  .menuListItem__Button {
    padding: 5px 7px;
    width: 240px;
    font-size: 18px;
  }
}
@media screen and (max-width: 480px) {
  .menuGameName {
    font-size: 28px;
  }
  .menuHeader {
    font-size: 32px;
  }
  .menuList {
    row-gap: 10px;
  }
  .menuListItem__Button {
    padding: 5px 7px;
    width: 200px;
    font-size: 16px;
  }
}
.profile {
  padding: 30px;
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url("../img/banner-settings.jpg") center no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-areas: "menu menu" "preview settings";
  font-family: "Fira Mono", sans-serif;
  z-index: 10;
  overflow: scroll;
}
.profileBack {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 24px;
  z-index: 100;
}
.profileBack button {
  font-size: 24px;
  height: auto;
}
.profileMenu {
  z-index: 10;
  grid-area: menu;
}
.profileMenuTitle {
  text-align: center;
}
.profileMenuList {
  text-align: center;
}
.profileMenuList__item {
  width: 90px;
  height: 90px;
}
.profileMenuList__itemImg {
  background: transparent;
  width: 100%;
  outline: none;
  border: none;
}
.profileMenuList__itemImg span {
  width: 100% !important;
  height: 100% !important;
}
.profileMenuList__items {
  display: flex;
  justify-content: center;
}
.profileMenu__Button {
  padding: 20px;
  text-align: center;
}
.profileMenu__Button a button {
  height: auto;
  font-size: 28px;
  font-weight: 700;
}
.profilePreview {
  padding: 30px;
  background: rgba(0, 0, 0, 0.4);
  display: grid;
  grid-template-columns: 2fr 3fr;
  border: 1px solid white;
  grid-template-areas: "name stats" "img stats";
  z-index: 10;
  grid-area: preview;
}
.profilePreview__Name {
  grid-area: name;
  font-size: 30px;
  color: #fff;
  font-weight: 900;
  max-width: 200px;
}
.profilePreview__NameWork {
  border-top: 1px solid white;
  color: darkgrey;
}
.profilePreview__Stats {
  grid-area: stats;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 700;
}
.profilePreview__StatsIncome, .profilePreview__StatsExpenses, .profilePreview__StatsCash {
  background: #f4d4bd;
}
.profilePreview__StatsIncome {
  margin-bottom: 15px;
}
.profilePreview__StatsExpenses {
  margin-bottom: 15px;
}
.profilePreview__StatsCash {
  font-size: 18px;
}
.profilePreview__StatsTitle {
  padding: 5px;
  font-weight: 900;
  font-size: 24px;
  background: #73c167;
  color: #fff;
  text-transform: uppercase;
}
.profilePreview__StatsBlock {
  margin: 7px;
  padding: 7px;
  display: flex;
  border-bottom: 1px solid #282c34;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 700;
}
.profilePreview__StatsBlock:last-child {
  border-bottom: none;
}
.profilePreview__Img {
  grid-area: img;
  padding: 5px;
  max-height: 550px;
}
.profilePreview__Img img {
  z-index: -1;
  height: 100%;
}
.profileSettings {
  padding: 50px 75px;
  display: flex;
  flex-direction: column;
}
.profileSettings__Button {
  text-align: center;
  z-index: 100;
}
.profileSettings__Speed, .profileSettings__Condition {
  padding: 30px;
  text-align: center;
  margin-bottom: 30px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100;
  color: #fff;
  font-size: 24px;
  border: 1px solid white;
}
.profileSettings__ConditionAbout {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid white;
  font-size: 16px;
}

@media screen and (max-width: 1600px) {
  .profilePreview {
    padding: 15px;
  }
  .profilePreview__Img {
    max-height: 450px;
  }
}
@media screen and (max-width: 1200px) {
  .profile {
    grid-template-columns: 1fr;
    grid-template-areas: "menu" "preview" "settings";
  }
  .profileMenuList__item {
    width: 70px;
    height: 70px;
  }
  .profilePreview__StatsTitle {
    font-size: 20px;
  }
  .profilePreview__StatsBlock {
    font-size: 14px;
  }
  .profilePreview__Name {
    font-size: 24px;
  }
  .profilePreview__Img {
    max-height: 400px;
  }
  .profileSettings__Speed, .profileSettings__Condition {
    padding: 15px;
    font-size: 18px;
  }
  .profileSettings__ConditionAbout {
    font-size: 14px;
  }
}
@media screen and (max-width: 1024px) {
  .profile {
    padding-top: 70px;
    height: auto;
  }
  .profileBack {
    top: 15px;
    right: 15px;
  }
  .profileBack button {
    font-size: 18px;
  }
}
@media screen and (max-width: 768px) {
  .profileMenuList__items {
    flex-wrap: wrap;
  }
  .profilePreview {
    grid-template-columns: 1fr;
    grid-template-areas: "name" "stats";
  }
  .profilePreview__Img {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .profile {
    padding: 60px 10px;
  }
  .profileBack {
    right: 50%;
    transform: translateX(50%);
  }
  .profileSettings {
    padding: 10px;
  }
  .profileSettings__Speed, .profileSettings__Condition {
    padding: 10px 5px;
    font-size: 14px;
  }
  .profileSettings__ConditionAbout {
    font-size: 12px;
  }
  .profileSettings__Speed {
    margin-bottom: 10px;
  }
}
.settings {
  width: 100vw;
  height: 100vh;
  display: flex;
  background: url("../img/banner-settings.jpg") center no-repeat;
  background-size: cover;
}
.settingsList {
  padding: 100px 70px;
  display: flex;
  width: 550px;
  height: 100vh;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 30px;
  z-index: 2;
  font-size: 24px;
  font-weight: 700;
  font-family: "Fira Mono", sans-serif;
  color: #fff;
  background: rgba(0, 0, 0, 0.65);
}
.settingsListItem {
  width: 350px;
  padding-bottom: 30px;
  border-bottom: 1px solid #cacaca;
}
.workChoice {
  display: flex;
  width: 100%;
  height: 100vh;
  background: url("../img/works/banner.png") center no-repeat;
  background-size: cover;
}
.workChoiceNav {
  height: 100vh;
  width: 160px;
  background: rgba(0, 0, 0, 0.6);
}
.workChoiceContent {
  display: flex;
  width: calc(100% - 160px);
  justify-content: center;
  align-items: center;
}
.workChoiceContent__List {
  z-index: 10;
  text-align: center;
}
.workChoiceContent__ListAbout {
  margin-top: 30px;
  padding: 10px 30px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
}
.workChoiceContent__ListAbout__Header {
  padding-bottom: 5px;
  font-size: 24px;
  font-weight: 700;
  border-bottom: 1px solid gray;
}
.workChoiceContent__ListAbout__Content {
  text-align: start;
  font-size: 28px;
  font-weight: 500;
  max-width: 320px;
}
.workChoiceContent__ListAbout__ContentRise {
  margin-bottom: 10px;
}
.workChoiceContent__ListAbout__ContentText {
  font-size: 12px;
  color: #303030;
  font-weight: 300;
  font-family: "Fira Mono", sans-serif;
}
.workChoiceContent__ListAbout__ContentSalary {
  margin-bottom: 10px;
}
.workChoiceContent__ListAbout__ContentSalaryBonus {
  color: #35b924;
}
.workChoiceContent__ListHeader {
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: 700;
  color: #fff;
}
.workChoiceContent__ListItem {
  border: 4px solid #282c34;
  border-radius: 5px;
  position: relative;
}
.workChoiceContent__ListItem::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  z-index: 1;
}
.workChoiceContent__ListItems {
  display: flex;
  column-gap: 15px;
}
.workChoiceContent__ListItem:hover {
  cursor: pointer;
}

.navWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #673c74;
  font-family: "Fira Mono", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}
.navItem {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 33%;
  align-items: center;
  column-gap: 15px;
}
.navItem:last-child {
  justify-content: space-between;
  height: 78px;
}
.navItem:first-child {
  justify-content: flex-start;
}
.navItemProfile {
  padding: 10px;
  display: flex;
  column-gap: 30px;
  align-items: center;
  font-weight: 900;
}
.navItemMenu {
  margin-left: 50px;
  display: flex;
  column-gap: 25px;
}
.navItemMenu__block {
  border: none;
  background: transparent;
  color: #212121;
}
.navItemBalance {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 30px;
  font-size: 36px;
  background: rgba(68, 39, 76, 0.8);
}
.navItem__link {
  font-size: 18px;
  text-align: center;
  width: 75px;
  text-transform: uppercase;
}
.navItem__link span {
  font-size: 18px;
}
.navItem__link a {
  color: #fff;
}
.navItem__link a:hover {
  color: #29b6f6;
}

.bottomNav {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  display: none;
  padding: 10px;
  background: white;
  justify-content: center;
  column-gap: 15px;
  z-index: 15;
}
.bottomNavItem {
  z-index: 15;
  color: #fff;
}
.bottomNavItem button {
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
}
.bottomNavItem button img {
  width: 35px;
  height: 35px;
}
.bottomNavItem a {
  color: #fff;
}
.bottomNavItem a button {
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
}
.bottomNavItem a button img {
  width: 35px;
  height: 35px;
}

@media screen and (max-width: 1200px) {
  .navItemMenu {
    margin-left: 10px;
    column-gap: 15px;
  }
  .navItem__link {
    width: 60px;
    font-size: 16px;
  }
  .navItemBalance {
    font-size: 28px;
  }
}
@media screen and (max-width: 1024px) {
  .navItem {
    column-gap: 10px;
    width: auto;
  }
  .navItemBalance {
    font-size: 24px;
  }
  .navItemProfile {
    padding: 5px;
    column-gap: 10px;
    font-size: 16px;
  }
  .navItem__link {
    font-size: 14px;
    width: auto;
  }
  .navItem__link span {
    font-size: 14px;
  }
  .navItemMenu {
    margin-left: 0;
  }
  .navItemMenu button {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .bottomNav {
    display: flex;
  }

  .navItem:last-child {
    height: 50px;
  }
  .navItemProfile div {
    width: 40px;
    height: 40px;
  }
  .navItemProfile div div {
    width: 40px !important;
    height: 40px !important;
  }
  .navItemBalance {
    padding: 0 10px;
    font-size: 18px;
  }
  .navItem__link {
    display: none;
  }

  .ant-menu {
    text-align: center;
  }
  .ant-menu p {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 480px) {
  .ant-modal {
    width: 80% !important;
  }

  .navItemMenu {
    column-gap: 5px;
  }
  .navItemBalance {
    font-size: 14px;
  }
  .navItemProfile {
    font-size: 14px;
  }
  .navItemProfile div {
    width: 30px;
    height: 30px;
  }
  .navItemProfile div div {
    width: 30px !important;
    height: 30px !important;
  }
}
.game {
  display: grid;
  grid-template-areas: "profile actions";
  grid-template-columns: 1.2fr 2fr;
  width: 100%;
  height: 100vh;
}
.gameActions {
  height: 100vh;
  grid-area: actions;
}

.personImg img {
  height: 100%;
}

.gameProfit {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: inherit;
  flex-direction: column;
  background: url("../img/banner-market.jpg") center no-repeat;
  background-size: cover;
  color: #fff;
  z-index: 0;
}
.gameProfit::after {
  background: rgba(0, 0, 0, 0.6) !important;
}
.gameProfitDanger {
  grid-area: danger;
  margin-bottom: 10px;
  text-align: center;
}
.gameProfitDanger button {
  font-weight: 900;
  color: #b71c1c;
}
.gameProfitMargin {
  padding: 15px;
  display: flex;
  flex-direction: column;
  column-gap: 30px;
  row-gap: 30px;
}
.gameProfitMargin__popup {
  position: absolute;
  top: 0;
  left: 0;
}
.gameProfitMargin__block {
  position: relative;
  padding: 10px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  max-width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.gameProfitMargin__block::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  border-radius: 1px;
  bottom: -15.5px;
  left: 0;
  background: rgba(255, 255, 255, 0.6);
}
.gameProfitMargin__block:last-child::after {
  content: none;
}
.gameProfitMargin__blockButton {
  margin-top: 15px;
}
.gameProfitMargin__blockButton button {
  font-weight: 700;
  outline: none;
  cursor: pointer;
}
.gameProfitMargin__blockAbout {
  font-weight: 700;
}
.gameProfitMargin__blockAbout__name {
  font-size: 24px;
}
.gameProfitMargin__blockAbout__age {
  font-size: 18px;
}
.gameProfitMargin__blockStats {
  font-size: 18px;
}
.gameProfitMargin__blockStats__help {
  position: relative;
  background: #fff;
  text-align: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: #000;
  cursor: pointer;
}
.gameProfitMargin__blockStats__help span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.gameProfitMargin__blockStats__commission, .gameProfitMargin__blockStats__leverAge {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.gameProfitMenu {
  grid-area: menu;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  column-gap: 15px;
  row-gap: 15px;
}
.gameProfitMenu__item button {
  font-weight: 900;
  outline: none;
}
.gameProfitHeader {
  display: flex;
  text-transform: lowercase;
  z-index: 2;
}
.gameProfitHeader span {
  font-size: 18px;
  font-family: "Fira Mono", sans-serif;
  font-weight: 500;
  color: #eeeeee;
}
.gameProfitStocks {
  padding: 30px;
  height: 100%;
  z-index: 2;
  background: rgba(255, 255, 255, 0.1);
}
.gameProfitStocks .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "menu menu" "danger danger" "myStocks stocks";
}
.gameProfitStocks__Me {
  grid-area: myStocks;
  padding: 15px;
  border-right: 2px dashed #f1f1f1;
}
.gameProfitStocks__Header {
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}
.gameProfitStocks__Menu {
  z-index: 2;
}
.gameProfitStocks__MenuButton {
  padding: 7px 15px;
  font-weight: 700;
  font-size: 24px;
  width: 50%;
  color: #fff;
  font-family: "Fira Mono", sans-serif;
  border: 1px solid #999999;
  background: rgba(0, 0, 0, 0.2);
}
.gameProfitStocks__MenuButton:hover {
  background: rgba(255, 255, 255, 0.1);
}
.gameProfitStocks__MenuButtons {
  display: flex;
}
.gameProfitStocks__Offer {
  grid-area: stocks;
  padding: 15px;
}
.gameProfitStocks__OfferBlock {
  position: relative;
  padding: 10px;
  display: flex;
  width: 80%;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.gameProfitStocks__OfferBlock::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  border-radius: 1px;
  bottom: -15.5px;
  left: 0;
  background: rgba(255, 255, 255, 0.6);
}
.gameProfitStocks__OfferBlock:last-child::after {
  content: none;
}
.gameProfitStocks__OfferBlock__Button {
  margin-top: 10px;
  padding: 5px 10px;
  border: 1px solid #d5d5d5;
  border-radius: 5px;
  color: #d5d5d5;
  font-size: 18px;
  background: transparent;
}
.gameProfitStocks__OfferBlock__Button:hover {
  background: rgba(255, 255, 255, 0.2);
}
.gameProfitStocks__OfferBlock__Title {
  font-weight: 700;
  font-size: 24px;
}
.gameProfitStocks__OfferBlock__Info {
  display: flex;
  column-gap: 15px;
}
.gameProfitStocks__OfferBlocks__menu {
  margin-top: 20px;
  display: flex;
}
.gameProfitStocks__OfferBlocks__stocks {
  margin-top: 30px;
  overflow: auto;
  display: flex;
  max-height: 70vh;
  flex-direction: column;
  row-gap: 30px;
}

@media screen and (max-width: 1600px) {
  .gameProfitStocks__OfferBlock {
    width: 90%;
  }
  .gameProfitMargin__block {
    max-width: 95%;
    column-gap: 5px;
  }
  .gameProfitMargin__blockStats {
    font-size: 16px;
  }
  .gameProfitMargin__blockAbout__name {
    font-size: 20px;
  }
  .gameProfitMargin__blockAbout__age {
    font-size: 16px;
  }
  .gameProfitHeader span {
    font-size: 16px;
  }
}
@media screen and (max-width: 1200px) {
  .gameProfitMargin__block {
    max-width: 100%;
  }
  .gameProfitMargin__blockStats {
    font-size: 14px;
  }
  .gameProfitMargin__blockAbout__name {
    font-size: 18px;
  }
  .gameProfitMargin__blockAbout__age {
    font-size: 14px;
  }
  .gameProfitStocks__OfferBlock {
    width: 90%;
  }
  .gameProfitStocks__OfferBlock__Title {
    font-size: 18px;
  }
  .gameProfitStocks__OfferBlock__Info {
    column-gap: 10px;
  }
  .gameProfitStocks__OfferBlock__Button {
    margin-top: 5px;
    padding: 3px 7px;
    font-size: 16px;
  }
  .gameProfitStocks__OfferBlock::after {
    bottom: -7.5px;
  }
  .gameProfitStocks__OfferBlocks__menu {
    margin-top: 10px;
  }
  .gameProfitStocks__OfferBlocks__stocks {
    margin-top: 15px;
    row-gap: 15px;
  }
  .gameProfitStocks__Me, .gameProfitStocks__Offer {
    padding: 10px;
  }
}
@media screen and (max-width: 1024px) {
  .gameProfitStocks__OfferBlock {
    width: 100%;
  }
  .gameProfitStocks__OfferBlock__Title {
    font-size: 16px;
  }
  .gameProfitStocks__OfferBlock__Info {
    column-gap: 7px;
  }
  .gameProfitStocks__OfferBlock__Button {
    padding: 3px 5px;
    font-size: 14px;
  }
  .gameProfitHeader span {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .gameProfitMenu {
    justify-content: start;
  }
  .gameProfitMenu__item {
    width: 100%;
  }
  .gameProfitMenu__item button {
    width: 100%;
  }
  .gameProfitStocks__Me {
    border-right: none;
  }
  .gameProfitStocks .container {
    grid-template-columns: 1fr;
    grid-template-areas: "menu" "danger" "myStocks" "stocks";
  }
}
@media screen and (max-width: 480px) {
  .gameProfitStocks {
    padding: 30px 5px 50px;
    overflow: scroll;
  }
  .gameProfit .container {
    width: 100%;
    overflow: hidden;
  }
  .gameProfitMargin__block {
    grid-template-columns: 1fr;
  }
}
.gameProfile {
  grid-area: profile;
  display: flex;
  position: relative;
  height: 100vh;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  border-right: 5px solid lightgrey;
  font-family: "Fira Mono", sans-serif;
}
.gameProfileStats {
  padding-left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  background: #673c74;
  border-bottom: 3px solid #282c34;
}
.gameProfileStats__Avatar {
  position: relative;
}
.gameProfileStats__AvatarImg {
  display: flex;
  column-gap: 20px;
  align-items: center;
}
.gameProfileStats__AvatarImgLevel {
  padding: 5px;
  position: absolute;
  width: 30px;
  height: 30px;
  text-align: center;
  bottom: 9px;
  left: 35px;
  background: #1099d1;
  border-radius: 50%;
  font-weight: 900;
  font-size: 15px;
}
.gameProfileStats__AvatarImgLevel:hover {
  cursor: pointer;
}
.gameProfileStats__AvatarImg__Name {
  font-weight: 700;
  font-size: 24px;
  color: #fff;
}
.gameProfileStats__Menu {
  display: flex;
  column-gap: 15px;
}
.gameProfileStats__MenuItem {
  color: #000;
  font-size: 20px;
  background: transparent;
  border: none;
}
.gameProfileStats__Wallet {
  padding-left: 20px;
  height: 100%;
  width: 150px;
  display: flex;
  align-items: center;
  font-size: 30px;
  background: rgba(68, 39, 76, 0.8);
}
.gameProfileProgress {
  padding: 20px;
  width: 100%;
  background: #282c34;
  text-align: center;
  z-index: 2;
}
.gameProfileProgress__Title {
  margin: 15px auto;
  font-size: 36px;
  font-weight: 900;
  color: #f1f1f1;
  text-align: center;
}
.gameProfileProgress__Slider {
  margin: 15px auto;
  width: 400px;
  height: 10px;
}
.gameProfileHeader {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 700;
}
.gameProfileContent {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 171px);
  background-size: cover;
  font-size: 30px;
  text-transform: uppercase;
}
.gameProfileContent__profile {
  display: flex;
}
.gameProfileContent__profileChild span {
  height: 180px;
}
.gameProfileContent__profileChild span img {
  height: 100%;
}
.gameProfileContent__profileImg {
  height: 550px;
}
.gameProfileContent__profileImg img {
  width: 100%;
}
.gameProfileContent__Children {
  display: flex;
}
.gameProfileContent__Children div {
  height: 200px;
}
.gameProfileContent__Children div img {
  height: 100%;
}
.gameProfileContent__Img {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  height: 600px;
  width: 400px;
}
.gameProfileContent__Img img {
  height: 100%;
}
.gameProfileContent__Work {
  display: flex;
  justify-content: space-between;
}
.gameProfileContent__WorkStats {
  margin-top: -3px;
  padding: 10px 50px 10px 10px;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  background: rgba(255, 255, 255, 0.7);
  z-index: 3;
  border: 3px solid #282c34;
  border-bottom-right-radius: 30px;
}
.gameProfileContent__WorkStats__Level {
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  color: #fff;
  border: 2px solid #282c34;
  background: #cc5a5a;
}
.gameProfileContent__WorkStats__Income span::after {
  top: -6px;
}
.gameProfileContent__WorkImg {
  margin-top: -3px;
  width: 150px;
  height: 150px;
  border: 3px solid #282c34;
  z-index: 3;
  border-bottom-left-radius: 30px;
}
.gameProfileContent__WorkImg img {
  width: 100%;
  border-bottom-left-radius: 30px;
}

.gameWork {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url("../img/banner-work.jpg") no-repeat;
  background-size: cover;
  font-family: "Fira Mono", sans-serif;
}
.gameWorkContent {
  padding: 30px;
  height: inherit;
  background: rgba(244, 212, 189, 0.6);
  z-index: 10;
}
.gameWorkContent__profile {
  grid-area: profile;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.gameWorkContent__profileChild {
  display: flex;
}
.gameWorkContent__profileChild div {
  height: 200px;
}
.gameWorkContent__profileChild div img {
  height: 100%;
}
.gameWorkContent__profileImg {
  padding-bottom: 30px;
  margin-bottom: 30px;
  height: 550px;
  border-bottom: 2px dashed #fff;
}
.gameWorkContent__profileImg img {
  height: 100%;
}
.gameWorkContent__incomes {
  grid-area: incomes;
  width: 90% !important;
}
.gameWorkContent__work {
  grid-area: works;
  width: 90% !important;
}
.gameWorkContent .container {
  display: grid;
  align-items: flex-end;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "profile incomes " "profile works";
  row-gap: 20px;
  column-gap: 20px;
}
.gameWorkContent__block {
  text-align: center;
  margin-bottom: 7px;
  padding: 7px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  font-size: 22px;
}
.gameWorkContent__blockTitle {
  font-weight: 700;
}
.gameWorkContent__blocks {
  padding: 25px;
  background: #ead2ac;
  width: calc(45% - 50px);
}
.gameWorkContent__blocksTitle {
  margin-bottom: 25px;
  padding: 10px 30px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 22px;
  color: #fff;
  background: rgba(115, 193, 103, 0.9);
}

.gameWorkContent__incomes .gameWorkContent__block:last-child {
  font-size: 26px;
  margin-top: 20px;
  border-bottom: none;
}

@media screen and (max-width: 1200px) {
  .gameWorkContent__profileImg {
    padding-bottom: 15px;
    margin-bottom: 15px;
    height: 450px;
  }
  .gameWorkContent__profileChild div {
    height: 180px;
  }
  .gameWorkContent__block {
    font-size: 18px;
  }
  .gameWorkContent__blocks {
    width: 100% !important;
    padding: 15px;
  }
  .gameWorkContent__blocksTitle {
    margin-bottom: 20px;
    padding: 5px 15px;
  }
}
@media screen and (max-width: 1024px) {
  .gameWorkContent {
    padding: 20px 0;
  }
  .gameWorkContent .container {
    grid-template-columns: 1fr 2fr;
  }
  .gameWorkContent__block {
    padding: 5px;
    margin-bottom: 5px;
    font-size: 16px;
  }
  .gameWorkContent__blocks {
    padding: 10px;
  }
  .gameWorkContent__blocksTitle {
    margin-bottom: 15px;
    padding: 3px 10px;
  }
}
@media screen and (max-width: 768px) {
  .gameWork {
    height: auto;
  }
  .gameWorkContent__profileImg {
    display: none;
  }
  .gameWorkContent__profileChild div {
    height: 150px;
  }
  .gameWorkContent .container {
    grid-template-areas: "incomes" "works" "profile";
    grid-template-columns: 1fr;
  }
}
.gameSpend {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: inherit;
  width: 100%;
  background: url("../img/banner-spends.jpg") center no-repeat;
  background-size: cover;
  z-index: 0;
  font-family: "Fira Mono", sans-serif;
}
.gameSpendContent {
  padding: 20px;
  width: 100%;
  height: inherit;
  z-index: 10;
  background: rgba(244, 212, 189, 0.6);
}
.gameSpendContent .container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
  justify-content: center;
}
.gameSpendContent__Title {
  padding: 7px 15px;
  font-size: 28px;
  font-weight: 900;
  color: #fff;
  background: rgba(115, 193, 103, 0.9);
}
.gameSpendContent__Footer {
  padding: 7px 15px;
  display: flex;
  justify-content: space-between;
  font-size: 28px;
  border-top: 1px solid #282c34;
  color: #000;
}
.gameSpendContent__FooterTitle {
  font-weight: 500;
}
.gameSpendContent__FooterPrice {
  font-weight: 900;
}
.gameSpendContent__Item {
  margin-bottom: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
  border-bottom: 1px solid grey;
}
.gameSpendContent__Item:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.gameSpendContent__ItemTitle {
  font-weight: 700;
}
.gameSpendContent__ItemPrice {
  font-weight: 300;
}
.gameSpendContent__Items {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 200px;
  overflow: auto;
}
.gameSpendContents {
  margin-top: 75px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
  row-gap: 10px;
  column-gap: 10px;
}

@media screen and (max-width: 1200px) {
  .gameSpendContent__Footer {
    padding: 5px 10px;
    font-size: 22px;
  }
  .gameSpendContent__Item {
    margin-bottom: 5px;
    padding-bottom: 5px;
    font-size: 18px;
  }
  .gameSpendContent__Items {
    padding: 15px;
  }
  .gameSpendContent__Title {
    padding: 5px 15px;
    font-size: 22px;
  }
  .gameSpendContent .container {
    column-gap: 10px;
    row-gap: 10px;
  }
}
@media screen and (max-width: 1024px) {
  .gameSpendContent__Item {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .gameSpend {
    height: auto;
  }
}
@media screen and (max-width: 480px) {
  .gameSpendContent__Title {
    text-align: center;
    font-size: 16px;
  }
  .gameSpendContent__Items {
    padding: 7px;
  }
  .gameSpendContent__Footer {
    font-size: 16px;
  }
}
.gameNews {
  position: relative;
  height: inherit;
  background: url("../img/banner-news.jpg") center no-repeat;
  background-size: cover;
  z-index: 0;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  font-family: "Fira Mono", sans-serif;
}
.gameNews::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}
.gameNewsMenu {
  margin-top: 50px;
  display: flex;
  justify-content: flex-end;
  column-gap: 30px;
}
.gameNewsContent {
  height: inherit;
  z-index: 10;
  overflow: auto;
}
.gameNewsContent__Tabs .ant-tabs-nav {
  position: fixed;
  width: calc(100% * 2/3.2);
  background: #282c34;
  color: #fff;
}
.gameNewsBlock {
  padding: 20px;
  width: 50%;
  background: rgba(243, 243, 243, 0.9);
  z-index: 10;
}
.gameNewsBlock__Title {
  padding: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  background: #439093;
  z-index: 10;
  color: #fff;
}
.gameNewsBlock__News {
  padding-top: 10px;
  padding-bottom: 10px;
}
.gameNewsBlock__NewsTitle, .gameNewsBlock__NewsPrice {
  font-size: 18px;
  color: #414141;
  font-weight: 700;
}
.gameNewsBlock__NewsPriceBold {
  font-weight: 900;
  margin-left: 10px;
  color: #000;
}
.gameNewsBlock__NewsCompany {
  margin: 10px auto;
  padding: 10px;
  text-align: center;
  width: 50%;
  background: #3e6787;
  color: #fff;
  font-weight: 700;
}
.gameNewsBlock__NewsButton {
  text-align: center;
}
.gameNewsBlock__NewsButton button {
  background: #3e6787;
  color: #fff;
  font-weight: 900;
}
.gameNewsBlock__Footer {
  margin-top: 10px;
  padding-top: 10px;
  display: flex;
  column-gap: 5px;
  align-items: center;
  justify-content: flex-start;
  border-top: 1px solid grey;
}
.gameNewsBlock__FooterButton {
  border: none;
  background: none;
  width: 36px;
  height: 36px;
  font-size: 24px;
  color: green;
}
.gameNewsBlock__FooterButton:hover {
  color: #19a204;
  font-size: 26px;
}
.gameNewsBlocks {
  margin-top: 30px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
  overflow: auto;
  z-index: 10;
}
.gameNewsBlocks__reverse {
  flex-direction: column-reverse;
}

@media screen and (max-width: 1200px) {
  .gameNewsBlock {
    padding: 15px;
    width: 70%;
  }
}
@media screen and (max-width: 1024px) {
  .gameNewsBlock {
    padding: 10px;
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .gameNewsMenu {
    margin-top: 20px;
    column-gap: 10px;
  }
  .gameNewsBlock {
    width: 85%;
  }
  .gameNewsBlock__Title {
    margin-bottom: 5px;
    padding: 5px;
    font-size: 18px;
  }
  .gameNewsBlock__NewsCompany {
    margin: 5px auto;
    padding: 5px;
    width: 70%;
    font-size: 14px;
  }
  .gameNewsBlock__NewsTitle {
    font-size: 14px;
  }
  .gameNewsBlock__NewsPrice {
    font-size: 14px;
  }
  .gameNewsBlock__Footer {
    margin-top: 5px;
    padding-top: 5px;
  }
  .gameNewsBlock__FooterButton {
    width: 30px;
    height: 30px;
    font-size: 18px;
  }
  .gameNewsBlock__FooterText {
    font-size: 14px;
  }
  .gameNewsBlocks {
    padding: 20px;
    row-gap: 20px;
  }
}
@media screen and (max-width: 480px) {
  .gameNewsBlock {
    width: 100%;
  }
  .gameNewsBlock__Title {
    margin-bottom: 3px;
    padding: 3px;
    font-size: 14px;
  }
  .gameNewsBlock__NewsCompany {
    width: 80%;
    font-size: 12px;
  }
  .gameNewsBlock__NewsTitle {
    font-size: 10px;
  }
  .gameNewsBlock__NewsPrice {
    font-size: 10px;
  }
  .gameNewsBlock__Footer {
    margin-top: 3px;
    padding-top: 3px;
  }
  .gameNewsBlock__FooterButton {
    width: 20px;
    height: 20px;
    font-size: 14px;
  }
  .gameNewsBlock__FooterText {
    font-size: 10px;
  }
  .gameNewsBlocks {
    padding: 10px;
    row-gap: 10px;
  }
}
.gameBusiness {
  display: flex;
  justify-content: center;
  height: inherit;
  background: url("../img/banner-business.jpg") center no-repeat;
  background-size: cover;
  z-index: 3;
  font-family: "Fira Mono", sans-serif;
  color: #fff;
}
.gameBusinessContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10;
  overflow: auto;
}
.gameBusinessContent__menu {
  padding: 20px;
  text-align: center;
  width: 60%;
  background: rgba(0, 0, 0, 0.4);
}
.gameBusinessContent__block {
  padding: 25px;
  text-align: center;
  border: 2px solid #fff;
  background: rgba(32, 68, 98, 0.7);
}
.gameBusinessContent__blockTitle {
  padding-bottom: 20px;
  margin: 0 auto 20px;
  font-weight: 900;
  font-size: 28px;
  max-width: 40%;
  border-bottom: 2px solid #fff;
}
.gameBusinessContent__blockImg {
  margin: 0 auto 20px;
  max-width: 350px;
  text-align: center;
}
.gameBusinessContent__blockImg img {
  width: 100%;
}
.gameBusinessContent__blockIncome, .gameBusinessContent__blockPrice {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
}
.gameBusinessContent__blockButton {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 2px dashed #fff;
}
.gameBusinessContent__blocks {
  padding: 50px;
  width: 60%;
  height: 850px;
  display: flex;
  z-index: 10;
  flex-direction: column;
  row-gap: 30px;
  background: rgba(53, 92, 125, 0.9);
  overflow: auto;
}

@media screen and (max-width: 1200px) {
  .gameBusinessContent__menu {
    width: 80%;
  }
  .gameBusinessContent__blocks {
    width: 80%;
  }
}
@media screen and (max-width: 1024px) {
  .gameBusinessContent__menu {
    width: 90%;
  }
  .gameBusinessContent__block {
    padding: 15px;
  }
  .gameBusinessContent__blockIncome, .gameBusinessContent__blockPrice {
    font-size: 18px;
  }
  .gameBusinessContent__blockTitle {
    padding-bottom: 10px;
    font-size: 22px;
  }
  .gameBusinessContent__blocks {
    padding: 30px;
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  .gameBusiness {
    padding-bottom: 50px;
    height: auto;
  }
  .gameBusinessContent__menu {
    width: 100%;
  }
  .gameBusinessContent__block {
    padding: 10px;
  }
  .gameBusinessContent__blockIncome, .gameBusinessContent__blockPrice {
    font-size: 16px;
  }
  .gameBusinessContent__blockTitle {
    padding-bottom: 10px;
    font-size: 18px;
  }
  .gameBusinessContent__blockButton {
    margin-top: 10px;
    padding-top: 10px;
  }
  .gameBusinessContent__blocks {
    padding: 15px;
    width: 100%;
  }
}
.gameBank {
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 55px);
  background: url("../img/banner-bank.jpg") center no-repeat;
  background-size: cover;
  z-index: 3;
  font-family: "Fira Mono", sans-serif;
}
.gameBankContent {
  display: flex;
  justify-content: center;
  width: 100%;
  height: inherit;
  column-gap: 50px;
  flex-wrap: wrap;
  row-gap: 50px;
  z-index: 10;
}
.gameBankContent .container {
  width: inherit;
}
.gameBankContent__liabilities, .gameBankContent__credit, .gameBankContent__payout, .gameBankContent__deposit {
  background: rgba(249, 235, 217, 0.9);
  width: 40%;
}
.gameBankContent__Menu {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.gameBankContent__MenuPay {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gameBankContent__MenuPay__Price {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
}
.gameBankContent__MenuPay__Input {
  width: 100%;
}
.gameBankContent__MenuPay__Input input {
  width: 50%;
}
.gameBankContent__Title {
  padding: 15px;
  font-weight: 900;
  font-size: 28px;
  color: #fff;
  background: #439093;
}
.gameBankContent__Form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
}
.gameBankContent__FormPayload {
  padding-bottom: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.gameBankContent__FormPayload:first-child {
  border-bottom: 1px solid grey;
}
.gameBankContent__FormPayloads {
  margin-top: 10px;
  width: 80%;
}
.gameBankContent__FormInput {
  margin-top: 10px;
  width: 30%;
}
.gameBankContent__Button {
  margin-bottom: 40px;
  text-align: center;
}
.gameBankContent__Block {
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #999999;
}
.gameBankContent__Blocks {
  padding: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  font-size: 20px;
  font-weight: 500;
}

.warning {
  padding: 40px;
  font-size: 16px;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .gameBankContent {
    column-gap: 35px;
    row-gap: 35px;
  }
  .gameBankContent__liabilities, .gameBankContent__credit, .gameBankContent__payout, .gameBankContent__deposit {
    width: 46%;
  }
}
@media screen and (max-width: 1024px) {
  .gameBank {
    padding: 30px;
  }
  .gameBankContent {
    column-gap: 20px;
    row-gap: 20px;
  }
  .gameBankContent__Blocks {
    padding: 15px;
    row-gap: 10px;
    font-size: 18px;
  }
  .gameBankContent__Title {
    padding: 10px;
    font-size: 24px;
  }
  .gameBankContent__Menu {
    padding: 15px;
  }
  .gameBankContent__liabilities, .gameBankContent__credit, .gameBankContent__payout, .gameBankContent__deposit {
    width: 70%;
  }

  .warning {
    padding: 15px;
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .gameBank {
    padding-bottom: 50px;
  }
  .gameBankContent__Form {
    margin-top: 5px;
    font-size: 14px;
  }
  .gameBankContent__FormPayload {
    padding-bottom: 5px;
    margin-bottom: 5px;
  }
  .gameBankContent__Button {
    margin-bottom: 20px;
  }
  .gameBankContent__Button button {
    padding: 5px 10px;
    font-size: 14px;
  }
  .gameBankContent__Menu {
    padding: 10px;
  }
  .gameBankContent__MenuPay__Price {
    margin-bottom: 5px;
    padding-bottom: 5px;
    font-size: 14px;
  }
  .gameBankContent__MenuPay__Input {
    width: 80%;
  }
  .gameBankContent__MenuSelect {
    width: 80%;
  }
  .gameBankContent__Block {
    padding-bottom: 5px;
  }
  .gameBankContent__Blocks {
    font-size: 14px;
  }
  .gameBankContent__Title {
    padding: 5px;
    font-size: 18px;
  }
  .gameBankContent__liabilities, .gameBankContent__credit, .gameBankContent__payout, .gameBankContent__deposit {
    width: 90%;
  }
}
.gameMarket {
  display: flex;
  width: 100%;
}
.gameMarketContent {
  width: 100%;
  display: flex;
  z-index: 10;
}
.gameMarketContent__Menu {
  width: 100%;
  background: #2a363b;
  color: #fff;
}

.gameRealty {
  display: flex;
  width: 100%;
  height: inherit;
  background: url("../img/banner-realty.jpg") center no-repeat;
  background-size: cover;
  color: #fff;
  font-family: "Fira Mono", sans-serif;
}
.gameRealtyContent {
  padding: 20px;
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  z-index: 10;
}
.gameRealtyContent__block {
  padding: 20px 30px;
  background: rgba(25, 58, 86, 0.8);
  width: 700px;
  border: 2px solid #fff;
}
.gameRealtyContent__blockInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gameRealtyContent__blockInfo__price {
  font-weight: 700;
  font-size: 18px;
}
.gameRealtyContent__blockInfo__priceItem {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 2px solid #fff;
}
.gameRealtyContent__blockInfo__priceItem:last-child {
  border-bottom: none;
}
.gameRealtyContent__blockImg {
  max-width: 300px;
}
.gameRealtyContent__blockImg img {
  width: 100%;
}
.gameRealtyContent__realty {
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 700px;
  background: rgba(32, 68, 98, 0.7);
}
.gameRealtyContent__realtyItem {
  max-height: 380px;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}
.gameRealtyContent__realtyItem:last-child {
  border-right: none;
}
.gameRealtyContent__realtyItem__income {
  padding-bottom: 5px;
  margin-bottom: 5px;
  display: inline-block;
  border-bottom: 1px solid #fff;
}
.gameRealtyContent__realtyItem__title {
  margin-bottom: 10px;
  text-align: center;
  padding-bottom: 15px;
}
.gameRealtyContent__realtyItem__img {
  margin: 0 auto 12px;
  text-align: center;
  max-width: 320px;
  padding-bottom: 12px;
  border-bottom: 1px solid #fff;
}
.gameRealtyContent__realtyItem__img img {
  width: 100%;
}
.gameRealtyContent__realtyItems {
  padding: 30px;
  display: flex;
  justify-content: center;
  max-height: 420px;
  column-gap: 30px;
}
.gameRealtyContent__realtyTitle {
  margin: 0 auto 30px;
  padding-bottom: 10px;
  width: 40%;
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid #fff;
}

@media screen and (max-width: 768px) {
  .gameRealtyContent__realty, .gameRealtyContent__block {
    width: inherit;
  }
  .gameRealtyContent__realtyTitle, .gameRealtyContent__blockTitle {
    padding-bottom: 5px;
    margin: 0 auto 15px;
    width: 70%;
    font-size: 18px;
  }
  .gameRealtyContent__realtyInfo, .gameRealtyContent__blockInfo {
    flex-direction: column-reverse;
    row-gap: 10px;
  }
}
@media screen and (max-width: 480px) {
  .gameRealtyContent__realtyItem {
    text-align: center;
    font-size: 14px;
  }
  .gameRealtyContent__blockTitle {
    margin: 0 auto 10px;
    font-size: 16px;
  }
  .gameRealtyContent__blockInfo__price {
    font-size: 14px;
  }
}
.auth {
  width: 100%;
  height: 100vh;
  background: url("../img/auth-banner.jpeg") center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Fira Mono", sans-serif;
}
.authForm {
  margin: 0 auto;
  padding: 25px;
  background: white;
  z-index: 10;
  text-align: center;
  width: 700px;
}
.authFormInput {
  max-width: 60%;
}
.authFormBlock {
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: 700;
}
.authFormButton {
  margin-top: 25px;
}
.authFormHeader {
  margin-bottom: 20px;
  position: relative;
}
.authFormHeader::after {
  content: "";
  height: 2px;
  width: 50px;
  position: absolute;
  bottom: -10px;
  left: calc(50% - 25px);
  background: #2a363b;
  border-radius: 50%;
}

.userPopup {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.userPopupButtom {
  margin-top: 30px;
}
.userPopupBlock button {
  border: none;
  background: transparent;
}
.userPopupBlock button img {
  border: 2px solid #282c34;
  width: 130px;
}
.userPopupBlocks {
  z-index: 1000;
  width: 50%;
  padding: 25px;
  background: #fff;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  align-items: center;
}
.userPopupBlocks span {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
}
.userPopup::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 1024px) {
  .authForm {
    width: 500px;
    padding: 10px;
  }
  .authFormInput {
    max-width: 80%;
  }
  .authFormBlock {
    margin-bottom: 10px;
    font-size: 18px;
  }
  .authFormButton {
    margin-top: 15px;
  }
  .authFormHeader {
    margin-bottom: 15px;
  }
  .authFormHeader::after {
    bottom: -5px;
  }
}
@media screen and (max-width: 768px) {
  .authForm {
    width: 100%;
  }
}
.userPage {
  width: 100%;
  height: 100vh;
  padding: 100px 0;
  background: url("../img/auth-banner.jpeg") center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Fira Mono", sans-serif;
}
.userPageContent {
  padding: 50px;
  background: rgba(255, 255, 255, 0.6);
}
.userPageContent__button {
  text-align: center;
}
.userPageContent__profile {
  width: 90%;
  margin: 0 auto 50px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "img info" "stats stats";
  row-gap: 50px;
  column-gap: 50px;
}
.userPageContent__profileImg {
  background: #fff;
  width: 350px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-area: img;
}
.userPageContent__profileImg img {
  border: 2px solid #282c34;
}
.userPageContent__profileInfo {
  background: #fff;
  padding: 25px;
  font-size: 20px;
  font-weight: 300;
  grid-area: info;
}
.userPageContent__profileInfo__name {
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 900;
}
.userPageContent__profileInfo__mail {
  margin-bottom: 15px;
}
.userPageContent__profileInfo__mail b {
  font-weight: 700;
}
.userPageContent__profileStats {
  background: #fff;
  padding: 25px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "title title" "favorite info";
  row-gap: 30px;
  grid-area: stats;
}
.userPageContent__profileStats__title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  grid-area: title;
}
.userPageContent__profileStats__favorite {
  padding-right: 15px;
  margin-right: 15px;
  border-right: 2px dashed #282c34;
  grid-area: favorite;
}
.userPageContent__profileStats__favorite b {
  font-size: 20px;
}
.userPageContent__profileStats__info {
  display: flex;
  grid-area: info;
  column-gap: 15px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button, input {
  outline: none;
}
button:hover, input:hover {
  cursor: pointer;
}
button:active, input:active {
  outline: none;
}

a {
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}

input:checked, input:active, input:focus {
  border: none;
  outline: none;
}

.returnBack {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 100;
}

.container {
  width: 70%;
  margin: 0 auto;
  z-index: 100;
}

.buttonNav {
  font-size: 35px;
  background: transparent;
  border: none;
  color: #fff;
}
.buttonNav:hover {
  color: #cccccc;
}

.continue {
  position: absolute;
  top: 20px;
  left: 90px;
  z-index: 100;
}

.gold {
  position: relative;
  color: goldenrod;
}

.chartPopup, .sellPopup, .marginPopup, .marginPaybackPopup {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.chartPopupBlock, .sellPopupBlock, .marginPopupBlock, .marginPaybackPopupBlock {
  position: relative;
  padding: 30px 40px;
  width: 700px;
  background-color: #f1f1f1;
  z-index: 3;
}
.chartPopupBlock__AlertTitle, .sellPopupBlock__AlertTitle, .marginPopupBlock__AlertTitle, .marginPaybackPopupBlock__AlertTitle {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.chartPopupBlock__Result, .sellPopupBlock__Result, .marginPopupBlock__Result, .marginPaybackPopupBlock__Result {
  font-size: 16px;
  font-family: "Fira Mono", sans-serif;
  font-weight: 500;
}
.chartPopupBlock__ResultMin b, .sellPopupBlock__ResultMin b, .marginPopupBlock__ResultMin b, .marginPaybackPopupBlock__ResultMin b {
  color: #f36f38;
}
.chartPopupBlock__ResultMax b, .sellPopupBlock__ResultMax b, .marginPopupBlock__ResultMax b, .marginPaybackPopupBlock__ResultMax b {
  color: #f67280;
}
.chartPopupBlock__Active, .sellPopupBlock__Active, .marginPopupBlock__Active, .marginPaybackPopupBlock__Active {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  grid-template-areas: "header portfolio" "stocks chart";
}
.chartPopupBlock__ActiveHeader, .sellPopupBlock__ActiveHeader, .marginPopupBlock__ActiveHeader, .marginPaybackPopupBlock__ActiveHeader {
  grid-area: header;
  font-family: "Fira Mono", sans-serif;
  font-size: 18px;
}
.chartPopupBlock__ActivePortfolio, .sellPopupBlock__ActivePortfolio, .marginPopupBlock__ActivePortfolio, .marginPaybackPopupBlock__ActivePortfolio {
  grid-area: portfolio;
  font-family: "Fira Mono", sans-serif;
  font-size: 16px;
}
.chartPopupBlock__ActivePortfolio__summary b, .sellPopupBlock__ActivePortfolio__summary b, .marginPopupBlock__ActivePortfolio__summary b, .marginPaybackPopupBlock__ActivePortfolio__summary b {
  color: #57895b;
}
.chartPopupBlock__ActiveList, .sellPopupBlock__ActiveList, .marginPopupBlock__ActiveList, .marginPaybackPopupBlock__ActiveList {
  grid-area: stocks;
}
.chartPopupBlock__ActiveList__header, .sellPopupBlock__ActiveList__header, .marginPopupBlock__ActiveList__header, .marginPaybackPopupBlock__ActiveList__header {
  text-align: center;
}
.chartPopupBlock__ActiveList__stocks, .sellPopupBlock__ActiveList__stocks, .marginPopupBlock__ActiveList__stocks, .marginPaybackPopupBlock__ActiveList__stocks {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  column-gap: 10px;
}
.chartPopupBlock__ActiveChart, .sellPopupBlock__ActiveChart, .marginPopupBlock__ActiveChart, .marginPaybackPopupBlock__ActiveChart {
  grid-area: chart;
}
.chartPopupBlock__Menu, .sellPopupBlock__Menu, .marginPopupBlock__Menu, .marginPaybackPopupBlock__Menu {
  margin-top: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  border-top: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chartPopupBlock__MenuButtons, .sellPopupBlock__MenuButtons, .marginPopupBlock__MenuButtons, .marginPaybackPopupBlock__MenuButtons {
  display: flex;
  row-gap: 5px;
  column-gap: 5px;
  flex-direction: column;
}
.chartPopupBlock__MenuButtons button, .sellPopupBlock__MenuButtons button, .marginPopupBlock__MenuButtons button, .marginPaybackPopupBlock__MenuButtons button {
  font-weight: 500;
  outline: none;
}
.chartPopupBlock__MenuTime, .sellPopupBlock__MenuTime, .marginPopupBlock__MenuTime, .marginPaybackPopupBlock__MenuTime {
  display: flex;
  flex-direction: column;
  column-gap: 10px;
  row-gap: 10px;
}
.chartPopupBlock__MenuInfo, .sellPopupBlock__MenuInfo, .marginPopupBlock__MenuInfo, .marginPaybackPopupBlock__MenuInfo {
  display: flex;
  column-gap: 50px;
}
.chartPopupBlock__MenuInfo__Title, .sellPopupBlock__MenuInfo__Title, .marginPopupBlock__MenuInfo__Title, .marginPaybackPopupBlock__MenuInfo__Title {
  margin-bottom: 5px;
  padding: 10px;
  font-weight: 700;
  font-size: 16px;
  background: #439093;
  color: #fff;
}
.chartPopupBlock__MenuInfo__Input, .sellPopupBlock__MenuInfo__Input, .marginPopupBlock__MenuInfo__Input, .marginPaybackPopupBlock__MenuInfo__Input {
  margin-top: 10px;
  margin-right: 10px;
}
.chartPopupBlock__Button, .sellPopupBlock__Button, .marginPopupBlock__Button, .marginPaybackPopupBlock__Button {
  margin-top: 15px;
  padding: 7px 25px;
  font-size: 24px;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #282c34;
  border-radius: 2px;
}
.chartPopupBlock__Button:hover, .sellPopupBlock__Button:hover, .marginPopupBlock__Button:hover, .marginPaybackPopupBlock__Button:hover {
  background: rgba(0, 0, 0, 0.12);
}
.chartPopupBlock__Title, .sellPopupBlock__Title, .marginPopupBlock__Title, .marginPaybackPopupBlock__Title {
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 500;
}
.chartPopupBlock__Close, .sellPopupBlock__Close, .marginPopupBlock__Close, .marginPaybackPopupBlock__Close {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 30px;
}
.chartPopupBlock__Close:hover, .sellPopupBlock__Close:hover, .marginPopupBlock__Close:hover, .marginPaybackPopupBlock__Close:hover {
  cursor: pointer;
}
.chartPopupBlock__Payback, .sellPopupBlock__Payback, .marginPopupBlock__Payback, .marginPaybackPopupBlock__Payback {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  row-gap: 20px;
  font-weight: 500;
  font-size: 18px;
  grid-template-areas: "time stock" "penalty stock" "menu menu";
}
.chartPopupBlock__Payback__Time, .chartPopupBlock__Payback__Stock, .chartPopupBlock__Payback__Penalty, .sellPopupBlock__Payback__Time, .sellPopupBlock__Payback__Stock, .sellPopupBlock__Payback__Penalty, .marginPopupBlock__Payback__Time, .marginPopupBlock__Payback__Stock, .marginPopupBlock__Payback__Penalty, .marginPaybackPopupBlock__Payback__Time, .marginPaybackPopupBlock__Payback__Stock, .marginPaybackPopupBlock__Payback__Penalty {
  padding: 10px;
  max-width: 70%;
  text-align: center;
}
.chartPopupBlock__Payback__Time, .sellPopupBlock__Payback__Time, .marginPopupBlock__Payback__Time, .marginPaybackPopupBlock__Payback__Time {
  grid-area: time;
  color: #fff;
}
.chartPopupBlock__Payback__TimeExpires, .sellPopupBlock__Payback__TimeExpires, .marginPopupBlock__Payback__TimeExpires, .marginPaybackPopupBlock__Payback__TimeExpires {
  margin-bottom: 10px;
}
.chartPopupBlock__Payback__TimeExpires, .chartPopupBlock__Payback__TimeFinal, .sellPopupBlock__Payback__TimeExpires, .sellPopupBlock__Payback__TimeFinal, .marginPopupBlock__Payback__TimeExpires, .marginPopupBlock__Payback__TimeFinal, .marginPaybackPopupBlock__Payback__TimeExpires, .marginPaybackPopupBlock__Payback__TimeFinal {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background: #439093;
}
.chartPopupBlock__Payback__Penalty, .sellPopupBlock__Payback__Penalty, .marginPopupBlock__Payback__Penalty, .marginPaybackPopupBlock__Payback__Penalty {
  grid-area: penalty;
  color: #fff;
}
.chartPopupBlock__Payback__PenaltyCurrent, .sellPopupBlock__Payback__PenaltyCurrent, .marginPopupBlock__Payback__PenaltyCurrent, .marginPaybackPopupBlock__Payback__PenaltyCurrent {
  margin-bottom: 10px;
}
.chartPopupBlock__Payback__PenaltyCurrent, .chartPopupBlock__Payback__PenaltyFinal, .sellPopupBlock__Payback__PenaltyCurrent, .sellPopupBlock__Payback__PenaltyFinal, .marginPopupBlock__Payback__PenaltyCurrent, .marginPopupBlock__Payback__PenaltyFinal, .marginPaybackPopupBlock__Payback__PenaltyCurrent, .marginPaybackPopupBlock__Payback__PenaltyFinal {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background: #439093;
}
.chartPopupBlock__Payback__Stock, .sellPopupBlock__Payback__Stock, .marginPopupBlock__Payback__Stock, .marginPaybackPopupBlock__Payback__Stock {
  grid-area: stock;
  background: #ead2ac;
  min-width: 320px;
  border: 2px solid rgba(115, 193, 103, 0.9);
}
.chartPopupBlock__Payback__StockTitle, .sellPopupBlock__Payback__StockTitle, .marginPopupBlock__Payback__StockTitle, .marginPaybackPopupBlock__Payback__StockTitle {
  padding: 10px;
  margin-bottom: 15px;
  background: rgba(115, 193, 103, 0.9);
  color: #fff;
}
.chartPopupBlock__Payback__StockBlock, .sellPopupBlock__Payback__StockBlock, .marginPopupBlock__Payback__StockBlock, .marginPaybackPopupBlock__Payback__StockBlock {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}
.chartPopupBlock__Payback__Menu, .sellPopupBlock__Payback__Menu, .marginPopupBlock__Payback__Menu, .marginPaybackPopupBlock__Payback__Menu {
  grid-area: menu;
}
.chartPopup::after, .sellPopup::after, .marginPopup::after, .marginPaybackPopup::after {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.chartPopup {
  z-index: 100;
}
.chartPopupBlock {
  z-index: 10;
}

.marginPopupBlock {
  width: 1000px;
}
.marginPopupPayback {
  width: 900px;
}

.bannerBack {
  position: relative;
  z-index: 1;
}
.bannerBack::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.profile-start {
  background: url("../img/banner-profile-1.jpg") center no-repeat;
  background-size: cover;
  z-index: 1;
}

.profile-medium {
  background: url("../img/banner-profile-2.jpg") center no-repeat;
  background-size: cover;
  z-index: 1;
}

.profile-top {
  background: url("../img/banner-profile-3.jpg") center no-repeat;
  background-size: cover;
  z-index: 1;
}

.ant-tabs-nav {
  margin: 0 !important;
  background: rgba(0, 0, 0, 0.1);
}

.ant-slider {
  text-align: center;
  display: flex;
  justify-content: center;
}

.ant-slider-rail {
  height: 15px;
}

.ant-slider-track {
  height: 15px;
  background-color: darkgrey;
}

.ant-slider-step {
  height: 15px;
}

.ant-tabs-tab, .ant-badge {
  font-family: "Fira Mono", sans-serif;
  font-size: 20px;
}

.ant-badge-count {
  padding: 0 4px;
  font-size: 10px !important;
  right: -10px !important;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 75%;
  }
}
@media screen and (max-width: 1024px) {
  .marginPopupBlock {
    width: 740px;
  }
  .marginPopupBlock__Menu {
    flex-direction: column;
  }
  .marginPopupBlock__MenuButtons {
    justify-content: center;
    flex-direction: row;
  }
  .marginPopupBlock__MenuInfo__Input {
    width: 60px;
  }
  .marginPopupBlock__Active {
    grid-template-areas: "portfolio portfolio" "stocks stocks" "chart chart";
  }
  .marginPopupBlock__ActiveHeader {
    display: none;
  }
  .marginPopupBlock__ActiveList__stocks {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .container {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: 85%;
  }

  .chartPopupBlock, .sellPopupBlock, .marginPopupBlock {
    padding: 10px 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
  }
  .chartPopupBlock__Result, .sellPopupBlock__Result, .marginPopupBlock__Result {
    font-size: 14px;
  }
  .chartPopupBlock__ActivePortfolio, .sellPopupBlock__ActivePortfolio, .marginPopupBlock__ActivePortfolio {
    font-size: 14px;
  }
  .chartPopupBlock__Title, .sellPopupBlock__Title, .marginPopupBlock__Title {
    margin-bottom: 10px;
    font-size: 22px;
  }
  .chartPopupBlock__Close, .sellPopupBlock__Close, .marginPopupBlock__Close {
    font-size: 22px;
  }
  .chartPopupBlock__Menu, .sellPopupBlock__Menu, .marginPopupBlock__Menu {
    margin-top: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    flex-direction: column;
    row-gap: 10px;
  }
  .chartPopupBlock__MenuInfo, .sellPopupBlock__MenuInfo, .marginPopupBlock__MenuInfo {
    flex-direction: column;
    row-gap: 10px;
  }
}
@media screen and (max-width: 480px) {
  .container {
    width: 90%;
  }

  .chartPopupBlock, .sellPopupBlock, .marginPopupBlock {
    padding: 5px 10px;
    width: 95%;
  }
  .chartPopupBlock__Title, .sellPopupBlock__Title, .marginPopupBlock__Title {
    margin-bottom: 5px;
    font-size: 16px;
  }
  .chartPopupBlock__Close, .sellPopupBlock__Close, .marginPopupBlock__Close {
    font-size: 16px;
  }
  .chartPopupBlock__Menu, .sellPopupBlock__Menu, .marginPopupBlock__Menu {
    margin-top: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    row-gap: 5px;
  }
  .chartPopupBlock__Menu div button, .sellPopupBlock__Menu div button, .marginPopupBlock__Menu div button {
    padding: 2px 10px;
    font-size: 14px;
  }
  .chartPopupBlock__MenuInfo, .sellPopupBlock__MenuInfo, .marginPopupBlock__MenuInfo {
    text-align: center;
  }
  .chartPopupBlock__MenuInfo div, .sellPopupBlock__MenuInfo div, .marginPopupBlock__MenuInfo div {
    display: flex;
    align-items: center;
    column-gap: 5px;
  }
  .chartPopupBlock__MenuInfo div button, .sellPopupBlock__MenuInfo div button, .marginPopupBlock__MenuInfo div button {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
