@import '~antd/dist/antd.css';
.menu {
  background: url("../img/background.jpg") center no-repeat;
  background-size: cover;
  position: relative;
}
.menuContent {
  display: flex;
  justify-content: center;
  height: calc(100vh - 206px);
  flex-direction: column;
  align-items: center;
}
.menuGameName {
  padding-top: 50px;
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  color: #fff;
}
.menuHeader {
  margin-bottom: 20px;
  font-size: 65px;
  font-weight: 700;
  color: #fff0f4;
  z-index: 1;
  font-family: "Roboto", sans-serif;
}
.menuList {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
  z-index: 1;
}
.menuListItem__Button {
  padding: 7px 12px;
  width: 320px;
  background: rgba(255, 255, 255, 0.4);
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  border: 1px solid #fff;
  border-radius: 10px;
  color: #fff;
}
.menuListItem__Button:hover {
  background: rgba(255, 255, 255, 0.65);
}

.profile {
  width: 100vw;
  height: 100vh;
  background: url("../img/characters/banner.jpg") center no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  font-family: "Fira Mono", sans-serif;
  z-index: 10;
}
.profileMenu {
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
}
.profileMenu__Stats {
  background: rgba(248, 209, 187, 0.8);
}
.profileMenu__StatsCash {
  font-size: 18px;
  font-weight: 700;
}
.profileMenu__StatsTitle {
  padding: 5px;
  font-weight: 900;
  font-size: 24px;
  background: #498c1e;
  color: #fff;
  text-transform: uppercase;
}
.profileMenu__StatsBlock {
  margin: 7px;
  padding: 7px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #282c34;
  font-size: 18px;
  font-weight: 700;
}
.profileMenu__StatsBlock:last-child {
  border-bottom: none;
}
.profileMenu__Settings {
  padding: 30px;
  background: rgba(255, 255, 255, 0.6);
  display: flex;
  flex-direction: column;
}
.profileMenu__SettingsItem {
  padding-bottom: 15px;
  margin-bottom: 15px;
  font-weight: 900;
  font-size: 20px;
  border-bottom: 1px solid #282c34;
}
.profileMenu__Button {
  padding: 20px;
  text-align: center;
}
.profileMenu__Button a button {
  height: auto;
  font-size: 28px;
  font-weight: 700;
}
.profilePersons {
  z-index: 10;
}
.profilePersons__Title {
  background: rgba(0, 0, 0, 0.6);
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  padding: 15px;
}
.profilePersons__Button {
  text-align: center;
  padding-top: 10px;
}
.profilePersons__Button a button {
  font-size: 24px;
  font-weight: 700;
  height: auto;
}
.profilePersons__Block {
  width: 100px;
  height: 100px;
  z-index: 10;
}
.profilePersons__Blocks {
  padding: 45px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  row-gap: 15px;
  column-gap: 15px;
}
.profilePersons__BlockImg {
  border: none;
  background: transparent;
}
.profilePersons__BlockImg span {
  border: 2px solid #282c34;
}
.profilePersons__BlockImg:hover {
  cursor: pointer;
}
.profilePreview {
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  z-index: 10;
}
.profilePreview__Name {
  margin: 30px;
  padding-bottom: 30px;
  font-size: 30px;
  color: #fff;
  font-weight: 900;
  border-bottom: 1px solid #fff;
}
.profilePreview__NameWork {
  color: darkgrey;
}
.profilePreview__Title {
  padding: 15px;
  font-size: 24px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.8);
  border-bottom: 2px solid rgba(255, 255, 255, 0.6);
  border-right: 2px solid rgba(255, 255, 255, 0.6);
  z-index: 10;
}
.profilePreview__Img {
  padding: 5px;
  display: flex;
  align-items: end;
  z-index: 0;
}
.profilePreview__Img img {
  z-index: -1;
}

.settings {
  width: 100vw;
  height: 100vh;
  display: flex;
  background: url("../img/banner-settings.jpg") center no-repeat;
  background-size: cover;
}
.settingsList {
  padding: 100px 70px;
  display: flex;
  width: 550px;
  height: 100vh;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 30px;
  z-index: 2;
  font-size: 24px;
  font-weight: 700;
  font-family: "Fira Mono", sans-serif;
  color: #fff;
  background: rgba(0, 0, 0, 0.65);
}
.settingsListItem {
  width: 350px;
  padding-bottom: 30px;
  border-bottom: 1px solid #cacaca;
}
.workChoice {
  display: flex;
  width: 100%;
  height: 100vh;
  background: url("../img/works/banner.png") center no-repeat;
  background-size: cover;
}
.workChoiceNav {
  height: 100vh;
  width: 160px;
  background: rgba(0, 0, 0, 0.6);
}
.workChoiceContent {
  display: flex;
  width: calc(100% - 160px);
  justify-content: center;
  align-items: center;
}
.workChoiceContent__List {
  z-index: 10;
  text-align: center;
}
.workChoiceContent__ListAbout {
  margin-top: 30px;
  padding: 10px 30px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
}
.workChoiceContent__ListAbout__Header {
  padding-bottom: 5px;
  font-size: 24px;
  font-weight: 700;
  border-bottom: 1px solid gray;
}
.workChoiceContent__ListAbout__Content {
  text-align: start;
  font-size: 28px;
  font-weight: 500;
  max-width: 320px;
}
.workChoiceContent__ListAbout__ContentRise {
  margin-bottom: 10px;
}
.workChoiceContent__ListAbout__ContentText {
  font-size: 12px;
  color: #303030;
  font-weight: 300;
  font-family: "Fira Mono", sans-serif;
}
.workChoiceContent__ListAbout__ContentSalary {
  margin-bottom: 10px;
}
.workChoiceContent__ListAbout__ContentSalaryBonus {
  color: #35b924;
}
.workChoiceContent__ListHeader {
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: 700;
  color: #fff;
}
.workChoiceContent__ListItem {
  border: 4px solid #282c34;
  border-radius: 5px;
  position: relative;
}
.workChoiceContent__ListItem::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  z-index: 1;
}
.workChoiceContent__ListItems {
  display: flex;
  column-gap: 15px;
}
.workChoiceContent__ListItem:hover {
  cursor: pointer;
}

.game {
  display: grid;
  grid-template-areas: "profile actions";
  grid-template-columns: 1.2fr 2fr;
  width: 100%;
  height: 100vh;
}
.gameActions {
  height: 100vh;
  grid-area: actions;
}

.personImg img {
  height: 100%;
}

.gameProfit {
  display: flex;
  justify-content: center;
  position: relative;
  flex-direction: column;
  background: url("../img/banner-market.jpg") center no-repeat;
  background-size: cover;
  height: calc(100vh - 55px);
  grid-area: profit;
  color: #fff;
  z-index: 0;
}
.gameProfit::after {
  background: rgba(0, 0, 0, 0.6) !important;
}
.gameProfitHeader {
  margin-bottom: 50px;
  display: flex;
  text-transform: lowercase;
  z-index: 2;
}
.gameProfitHeader span {
  font-size: 20px;
  font-family: "Fira Mono", sans-serif;
  font-weight: 500;
  color: #999999;
}
.gameProfitStocks {
  padding-top: 5%;
  padding-bottom: 5%;
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  z-index: 2;
  background: rgba(255, 255, 255, 0.1);
}
.gameProfitStocks__Me {
  padding: 15px;
  border-right: 2px dashed #f1f1f1;
}
.gameProfitStocks__Header {
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}
.gameProfitStocks__Menu {
  z-index: 2;
}
.gameProfitStocks__MenuButton {
  padding: 7px 15px;
  font-weight: 700;
  font-size: 24px;
  width: 50%;
  color: #fff;
  font-family: "Fira Mono", sans-serif;
  border: 1px solid #999999;
  background: rgba(0, 0, 0, 0.2);
}
.gameProfitStocks__MenuButton:hover {
  background: rgba(255, 255, 255, 0.1);
}
.gameProfitStocks__MenuButtons {
  display: flex;
}
.gameProfitStocks__Offer {
  padding: 15px;
}
.gameProfitStocks__OfferBlock {
  position: relative;
  padding: 10px;
  display: flex;
  width: 70%;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.gameProfitStocks__OfferBlock::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  border-radius: 1px;
  bottom: -15.5px;
  left: 0;
  background: rgba(255, 255, 255, 0.6);
}
.gameProfitStocks__OfferBlock:last-child::after {
  content: none;
}
.gameProfitStocks__OfferBlock__Button {
  margin-top: 10px;
  padding: 5px 10px;
  border: 1px solid #d5d5d5;
  border-radius: 5px;
  color: #d5d5d5;
  font-size: 18px;
  background: transparent;
}
.gameProfitStocks__OfferBlock__Button:hover {
  background: rgba(255, 255, 255, 0.2);
}
.gameProfitStocks__OfferBlock__Title {
  font-weight: 700;
  font-size: 24px;
}
.gameProfitStocks__OfferBlock__Info {
  display: flex;
  column-gap: 15px;
}
.gameProfitStocks__OfferBlocks__menu {
  margin-top: 20px;
  display: flex;
}
.gameProfitStocks__OfferBlocks__stocks {
  margin-top: 30px;
  overflow: auto;
  display: flex;
  max-height: 70vh;
  flex-direction: column;
  row-gap: 30px;
}

.gameProfile {
  grid-area: profile;
  display: flex;
  position: relative;
  height: 100vh;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  border-right: 5px solid lightgrey;
  font-family: "Fira Mono", sans-serif;
}
.gameProfileStats {
  padding-left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  background: #673c74;
  border-bottom: 3px solid #282c34;
}
.gameProfileStats__Avatar {
  position: relative;
}
.gameProfileStats__AvatarImg {
  display: flex;
  column-gap: 20px;
  align-items: center;
}
.gameProfileStats__AvatarImgLevel {
  padding: 5px;
  position: absolute;
  width: 30px;
  height: 30px;
  text-align: center;
  bottom: 9px;
  left: 35px;
  background: #1099d1;
  border-radius: 50%;
  font-weight: 900;
  font-size: 15px;
}
.gameProfileStats__AvatarImgLevel:hover {
  cursor: pointer;
}
.gameProfileStats__AvatarImg__Name {
  font-weight: 700;
  font-size: 24px;
  color: #fff;
}
.gameProfileStats__Menu {
  display: flex;
  column-gap: 15px;
}
.gameProfileStats__MenuItem {
  color: #000;
  font-size: 20px;
  background: transparent;
  border: none;
}
.gameProfileStats__Wallet {
  padding-left: 20px;
  height: 100%;
  width: 150px;
  display: flex;
  align-items: center;
  font-size: 30px;
  background: rgba(68, 39, 76, 0.8);
}
.gameProfileProgress {
  padding: 20px;
  width: 100%;
  background: #282c34;
  text-align: center;
  z-index: 2;
}
.gameProfileProgress__Title {
  margin: 15px auto;
  font-size: 36px;
  font-weight: 900;
  color: #f1f1f1;
  text-align: center;
}
.gameProfileProgress__Slider {
  margin: 15px auto;
  width: 400px;
  height: 10px;
}
.gameProfileHeader {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 700;
}
.gameProfileContent {
  position: relative;
  width: 100%;
  height: calc(100% - 171px);
  background-size: cover;
  font-size: 30px;
  text-transform: uppercase;
}
.gameProfileContent__Img {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  height: 500px;
  text-align: center;
}
.gameProfileContent__Img img {
  height: 100%;
  z-index: 3;
}
.gameProfileContent__Work {
  display: flex;
  justify-content: space-between;
}
.gameProfileContent__WorkStats {
  margin-top: -3px;
  padding: 10px 50px 10px 10px;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  background: rgba(255, 255, 255, 0.7);
  z-index: 3;
  border: 3px solid #282c34;
  border-bottom-right-radius: 30px;
}
.gameProfileContent__WorkStats__Level {
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  color: #fff;
  border: 2px solid #282c34;
  background: #cc5a5a;
}
.gameProfileContent__WorkStats__Income span::after {
  top: -6px;
}
.gameProfileContent__WorkImg {
  margin-top: -3px;
  width: 150px;
  height: 150px;
  border: 3px solid #282c34;
  z-index: 3;
  border-bottom-left-radius: 30px;
}
.gameProfileContent__WorkImg img {
  width: 100%;
  border-bottom-left-radius: 30px;
}

.gameWork {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 55px);
  background: url("../img/banner-work.jpg") no-repeat;
  background-size: cover;
  z-index: 0;
  font-family: "Fira Mono", sans-serif;
}
.gameWorkContent {
  padding: 30px;
  background: rgba(244, 212, 189, 0.6);
  z-index: 10;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: inherit;
  column-gap: 50px;
  row-gap: 50px;
}
.gameWorkContent__block {
  text-align: center;
  margin-bottom: 7px;
  padding: 7px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  font-size: 22px;
}
.gameWorkContent__blockTitle {
  font-weight: 700;
}
.gameWorkContent__blocks {
  padding: 25px;
  background: #ead2ac;
  width: calc(45% - 50px);
}
.gameWorkContent__blocksTitle {
  margin-bottom: 25px;
  padding: 10px 30px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 22px;
  color: #fff;
  background: rgba(115, 193, 103, 0.9);
}

.gameWorkContent__incomes .gameWorkContent__block:last-child {
  font-size: 26px;
  margin-top: 20px;
  border-bottom: none;
}

.gameSpend {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 55px);
  width: 100%;
  background: url("../img/banner-spends.jpg") center no-repeat;
  background-size: cover;
  z-index: 0;
  font-family: "Fira Mono", sans-serif;
}
.gameSpendButton {
  position: absolute;
  left: 50%;
  bottom: 100px;
  transform: translateX(-50%);
  z-index: 10;
  font-size: 24px;
  height: auto;
}
.gameSpendBlock {
  padding: 20px;
  background: #ead2ac;
  width: 500px;
  z-index: 10;
}
.gameSpendBlock__Main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: inherit;
  background: rgba(244, 212, 189, 0.6);
  z-index: 10;
}
.gameSpendBlock__Title {
  padding: 7px 15px;
  font-size: 28px;
  font-weight: 900;
  color: #fff;
  background: rgba(115, 193, 103, 0.9);
}
.gameSpendBlock__Footer {
  padding: 7px 15px;
  display: flex;
  justify-content: space-between;
  font-size: 28px;
  border-top: 1px solid #282c34;
  color: #000;
}
.gameSpendBlock__FooterTitle {
  font-weight: 500;
}
.gameSpendBlock__FooterPrice {
  font-weight: 900;
}
.gameSpendBlock__Item {
  margin-bottom: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
  border-bottom: 1px solid grey;
}
.gameSpendBlock__Item:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.gameSpendBlock__ItemTitle {
  font-weight: 700;
}
.gameSpendBlock__ItemPrice {
  font-weight: 300;
}
.gameSpendBlock__Items {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 200px;
  overflow: auto;
}
.gameSpendBlocks {
  margin-top: 75px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
  row-gap: 10px;
  column-gap: 10px;
}

.gameNews {
  position: relative;
  height: calc(100vh - 55px);
  background: url("../img/banner-news.jpg") center no-repeat;
  background-size: cover;
  z-index: 0;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  font-family: "Fira Mono", sans-serif;
}
.gameNews::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}
.gameNewsContent {
  z-index: 10;
  overflow: auto;
}
.gameNewsContent__Tabs .ant-tabs-nav {
  position: fixed;
  width: calc(100% * 2/3.2);
  background: #282c34;
  color: #fff;
}
.gameNewsBlock {
  padding: 20px;
  width: 50%;
  background: rgba(243, 243, 243, 0.9);
  z-index: 10;
}
.gameNewsBlock__Title {
  padding: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  background: #439093;
  z-index: 10;
  color: #fff;
}
.gameNewsBlock__News {
  padding-top: 10px;
  padding-bottom: 10px;
}
.gameNewsBlock__NewsTitle, .gameNewsBlock__NewsPrice {
  font-size: 18px;
  color: #414141;
  font-weight: 700;
}
.gameNewsBlock__NewsPriceBold {
  font-weight: 900;
  margin-left: 10px;
  color: #000;
}
.gameNewsBlock__NewsCompany {
  margin: 10px auto;
  padding: 10px;
  text-align: center;
  width: 50%;
  background: #3e6787;
  color: #fff;
  font-weight: 700;
}
.gameNewsBlock__NewsButton {
  text-align: center;
}
.gameNewsBlock__NewsButton button {
  background: #3e6787;
  color: #fff;
  font-weight: 900;
}
.gameNewsBlock__Footer {
  margin-top: 10px;
  padding-top: 10px;
  display: flex;
  column-gap: 5px;
  align-items: center;
  justify-content: flex-start;
  border-top: 1px solid grey;
}
.gameNewsBlock__FooterButton {
  border: none;
  background: none;
  width: 36px;
  height: 36px;
  font-size: 24px;
  color: green;
}
.gameNewsBlock__FooterButton:hover {
  color: #19a204;
  font-size: 26px;
}
.gameNewsBlocks {
  margin-top: 70px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
  overflow: auto;
  z-index: 10;
}
.gameNewsBlocks__reverse {
  flex-direction: column-reverse;
}

.gameBusiness {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 55px);
  background: url("../img/banner-bank.jpg") center no-repeat;
  background-size: cover;
  z-index: 3;
}
.gameBusinessTabs {
  z-index: 10;
}
.gameBusinessBlock {
  padding: 20px;
  z-index: 10;
  background: rgba(255, 255, 255, 0.8);
}
.gameBusinessBlock__Bought {
  position: relative;
}
.gameBusinessBlock__Bought::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}
.gameBusinessBlock__Stats {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid grey;
}
.gameBusinessBlock__Title {
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
  border-bottom: 1px solid grey;
}
.gameBusinessBlock__Img {
  margin-bottom: 10px;
  width: 400px;
  height: 230px;
  border: 1px solid #282c34;
}
.gameBusinessBlock__Img img {
  width: 100%;
  height: 100%;
}
.gameBusinessBlocks {
  margin-top: 30px;
  display: flex;
  column-gap: 30px;
  row-gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 10;
}

.gameBank {
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 55px);
  background: url("../img/banner-bank.jpg") center no-repeat;
  background-size: cover;
  z-index: 3;
  font-family: "Fira Mono", sans-serif;
}
.gameBankContent {
  display: flex;
  justify-content: center;
  width: 100%;
  column-gap: 50px;
  flex-wrap: wrap;
  row-gap: 50px;
  z-index: 10;
}
.gameBankContent__liabilities, .gameBankContent__credit, .gameBankContent__payout {
  background: rgba(249, 235, 217, 0.9);
  width: 40%;
}
.gameBankContent__Menu {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.gameBankContent__MenuPay {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gameBankContent__MenuPay__Price {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
}
.gameBankContent__MenuPay__Input {
  width: 100%;
}
.gameBankContent__MenuPay__Input input {
  width: 50%;
}
.gameBankContent__Title {
  padding: 15px;
  font-weight: 900;
  font-size: 28px;
  color: #fff;
  background: #439093;
}
.gameBankContent__Form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
}
.gameBankContent__FormPayload {
  padding-bottom: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.gameBankContent__FormPayload:first-child {
  border-bottom: 1px solid grey;
}
.gameBankContent__FormPayloads {
  margin-top: 10px;
  width: 80%;
}
.gameBankContent__FormInput {
  margin-top: 10px;
  width: 30%;
}
.gameBankContent__Button {
  margin-bottom: 40px;
  text-align: center;
}
.gameBankContent__Block {
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #999999;
}
.gameBankContent__Blocks {
  padding: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  font-size: 20px;
  font-weight: 500;
}

.warning {
  padding: 40px;
  font-size: 16px;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button, input {
  outline: none;
}
button:hover, input:hover {
  cursor: pointer;
}
button:active, input:active {
  outline: none;
}

a {
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}

input:checked, input:active, input:focus {
  border: none;
  outline: none;
}

.returnBack {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 100;
}

.buttonNav {
  font-size: 35px;
  background: transparent;
  border: none;
  color: #fff;
}
.buttonNav:hover {
  color: #cccccc;
}

.continue {
  position: absolute;
  top: 20px;
  left: 90px;
  z-index: 100;
}

.gold {
  position: relative;
  color: goldenrod;
}
.gold::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  top: 2px;
  background: url("./../img/gold.png") center no-repeat;
  background-size: cover;
}

.chartPopup, .sellPopup {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.chartPopupBlock, .sellPopupBlock {
  position: relative;
  padding: 30px 50px;
  width: 700px;
  background-color: #f1f1f1;
  z-index: 3;
}
.chartPopupBlock__Menu, .sellPopupBlock__Menu {
  margin-top: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  border-top: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chartPopupBlock__MenuInfo__Title, .sellPopupBlock__MenuInfo__Title {
  padding: 10px;
  font-weight: 700;
  font-size: 16px;
  background: #439093;
  color: #fff;
}
.chartPopupBlock__MenuInfo__Input, .sellPopupBlock__MenuInfo__Input {
  margin-top: 10px;
  margin-right: 10px;
}
.chartPopupBlock__Button, .sellPopupBlock__Button {
  margin-top: 15px;
  padding: 7px 25px;
  font-size: 24px;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #282c34;
  border-radius: 2px;
}
.chartPopupBlock__Button:hover, .sellPopupBlock__Button:hover {
  background: rgba(0, 0, 0, 0.12);
}
.chartPopupBlock__Title, .sellPopupBlock__Title {
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 500;
}
.chartPopupBlock__Close, .sellPopupBlock__Close {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 30px;
}
.chartPopupBlock__Close:hover, .sellPopupBlock__Close:hover {
  cursor: pointer;
}
.chartPopup::after, .sellPopup::after {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.bannerBack {
  position: relative;
  z-index: 1;
}
.bannerBack::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.profile-start {
  background: url("../img/banner-profile-1.jpg") center no-repeat;
  background-size: cover;
  z-index: 1;
}

.profile-medium {
  background: url("../img/banner-profile-2.jpg") center no-repeat;
  background-size: cover;
  z-index: 1;
}

.profile-top {
  background: url("../img/banner-profile-3.jpg") center no-repeat;
  background-size: cover;
  z-index: 1;
}

.ant-tabs-nav {
  margin: 0 !important;
  background: rgba(0, 0, 0, 0.1);
}

.ant-slider {
  text-align: center;
  display: flex;
  justify-content: center;
}

.ant-slider-rail {
  height: 15px;
}

.ant-slider-track {
  height: 15px;
  background-color: darkgrey;
}

.ant-slider-step {
  height: 15px;
}

.ant-slider-handle {
  top: 1px;
  width: 30px;
  height: 30px;
  background: url("../img/gold.png") center no-repeat;
  background-size: cover;
  border: none;
}

.ant-tabs-tab, .ant-badge {
  font-family: "Fira Mono", sans-serif;
  font-size: 20px;
}

.ant-badge-count {
  padding: 0 4px;
  font-size: 10px !important;
  right: -10px !important;
}

/*# sourceMappingURL=style.css.map */
