.desktopContainer {
  height: calc(100vh - 78px);
  overflow: hidden;
}

.mobileContainer {
  height: calc(100vh - 50px); 
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
