.desktopContainer {
  height: 'calc(100vh - 78px)'; 
  overflow: 'hidden';
}

.mobileContainer {
  height: 'calc(100vh - 50px)'; 
  display: 'flex'; 
  flex-direction: 'column';
  justify-content: 'space-between';
  overflow: 'hidden';
}

.loaderContainer {
  position: 'absolute'; 
  top: '50%';
  left: '50%';
  transform: 'translate(-50%, -50%)';
  text-align: 'center' ;
}
